<header id="header_part">
  <div id="header">
    <div class="container">
      <div class="utf_left_side">
        <div id="logo">
          <a [routerLink]="['/']"><img src="assets/images/logo.png" alt="" /></a>
        </div>
        <div class="mmenu-trigger">
          <button class="hamburger utfbutton_collapse" type="button">
            <span class="utf_inner_button_box">
              <span class="utf_inner_section"></span>
            </span>
          </button>
        </div>
        <nav id="navigation" class="style_one">
          <ul id="responsive">

            <li>
              <a routerLinkActive="current" [routerLink]="[ '/' ]">Listings</a>
            </li>
            <li>
              <a routerLinkActive="current" [routerLink]="['/directory']">Directory</a>
            </li>
            <li>
              <a routerLinkActive="current" [routerLink]="['/job']">Job</a>
            </li>
          </ul>
        </nav>
        <div class="clearfix"></div>
      </div>
      <div class="utf_right_side">
        <div class="header_widget">
          <a *ngIf="!isLogged"
            (click)="openVerticallyCentered(content)"
            class="button border sign-in popup-with-zoom-anim"
            ><i class="fa fa-sign-in"></i> Sign In</a
          >

          <a *ngIf="isLogged"
            [routerLink]="[ '/dashboard' ]"
            class="button border sign-in popup-with-zoom-anim"
            ><i class="sl sl-icon-layers"></i> Dashboard</a
          >
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #content let-modal>
  <div class="small_dialog_header">
    <h3>Sign In</h3>
  </div>
  <div class="utf_signin_form style_one padding-custom">
    <ul class="utf_tabs_nav">
      <li
        #signInTabBtn
        class="active"
        (click)="
          toggleInModalAction(
            signInTabBtn,
            registerTabBtn,
            signInTab,
            registerTab
          )
        "
      >
        <a>Log In</a>
      </li>
      <li
        #registerTabBtn
        (click)="
          toggleInModalAction(
            registerTabBtn,
            signInTabBtn,
            registerTab,
            signInTab
          )
        "
      >
        <a>Register</a>

      </li>
    </ul>
    <div class="tab_container alt">
      <div class="tab_content" #signInTab>
          <p *ngIf="loginError != ' '" class="text-danger" @zoom_in>{{loginError}}</p>
        <form [formGroup]="loginForm1" (ngSubmit)="login()" class="login">
          <p class="utf_row_form utf_form_wide_block">
            <label for="username">
              <input
                type="text"
                class="input-text"
                placeholder="Email or Username"
                id="username"
                formControlName="email1"
              />
            </label>
          </p>
          <p class="utf_row_form utf_form_wide_block">
            <label for="password">
              <input
                class="input-text"
                type="password"
                formControlName="password1"
                id="password"
                placeholder="Password"
              />
            </label>
          </p>
          <div class="utf_row_form utf_form_wide_block form_forgot_part">
            <span class="lost_password fl_left">
              <a href="javascript:void(0);">Forgot Password?</a>
            </span>
            <div class="checkboxes fl_right">
              <input
                id="remember-me"
                type="checkbox"
                formControlName="remember1"
              />
              <label for="remember-me">Remember Me</label>
            </div>
          </div>
          <div class="utf_row_form">
            <button
            type="submit"
            class="button border margin-top-5"
            [disabled]="loading"
          >
            <ng-container *ngIf="loading; else submitText">
              <div class="spinner-border" role="status"></div>
            </ng-container>
            <ng-template #submitText>Login</ng-template>
          </button>

          </div>
        </form>
      </div>

      <div class="tab_content" #registerTab style="display: none">
        <form [formGroup]="registrationForm" (ngSubmit)="registration()">
          <div class="row">
            <div class="col-6 pr-1">
              <p class="utf_row_form utf_form_wide_block">
                <label for="first_name">
                  <input
                    type="text"
                    class="input-text mb-0"
                    formControlName='first_name'
                    id="first_name"
                    value=""
                    placeholder="First Name"
                  />
                </label>
                <small
                *ngIf="registrationForm.errors && registrationForm.errors.first_name"
                class="form-text text-danger"
                >{{registrationForm.errors.first_name}}</small
              >
              </p>
            </div>

            <div class="col-6 pl-1">
              <p class="utf_row_form utf_form_wide_block">
                <label for="last_name">
                  <input
                    type="text"
                    class="input-text mb-0"
                    formControlName='last_name'
                    id="last_name"
                    value=""
                    placeholder="Last Name"
                  />
                </label>
                <small
                *ngIf="registrationForm.errors && registrationForm.errors.last_name"
                class="form-text text-danger"
                >{{registrationForm.errors.last_name}}</small
              >
              </p>
            </div>
          </div>

          <p class="utf_row_form utf_form_wide_block">
            <label for="email2">
              <input
                type="text"
                class="input-text mb-0"
                formControlName='email'
                id="email2"
                placeholder="Email"
              />
            </label>
            <small
                *ngIf="registrationForm.errors && registrationForm.errors.email"
                class="form-text text-danger"
                >{{registrationForm.errors.email}}</small
              >
          </p>
          <p class="utf_row_form utf_form_wide_block">
            <label for="username2">
              <input
                type="text"
                class="input-text mb-0"
                formControlName='username'
                id="username2"
                placeholder="Username"
              />
            </label>
            <small
                *ngIf="registrationForm.errors && registrationForm.errors.username"
                class="form-text text-danger"
                >{{registrationForm.errors.username}}</small
              >
          </p>

          <p class="utf_row_form utf_form_wide_block">
            <label for="phone2">
              <input
                type="text"
                class="input-text mb-0"
                formControlName='phone'
                id="phone2"
                placeholder="Phone"
              />
            </label>
            <small
                *ngIf="registrationForm.errors && registrationForm.errors.phone"
                class="form-text text-danger"
                >{{registrationForm.errors.phone}}</small
              >
          </p>
          <p class="utf_row_form utf_form_wide_block">
            <label for="password4">
              <input
                class="input-text mb-0"
                type="password"
                formControlName='password'
                id="password4"
                placeholder="Password"
              />
            </label>
            <small
                *ngIf="registrationForm.errors && registrationForm.errors.password"
                class="form-text text-danger"
                >{{registrationForm.errors.password}}</small
              >
          </p>
          <div class="row">
            <div class="col-6 pr-1">
              <button type="button" (click)="registrationType = 'company'" [class]="registrationType == 'company' ? 'bg-secondary' : 'bg-white text-dark'" class="button border fw margin-top-10">Company</button>
            </div>

            <div class="col-6 pl-1">
              <button type="button" (click)="registrationType = 'professional'" [class]="registrationType == 'professional' ? 'bg-secondary' : 'bg-white text-dark'" class="button border fw margin-top-10">Professional</button>
            </div>
          </div>
          <button
            type="submit"
            class="button border fw margin-top-10"
            [disabled]="loading"
          >
            <ng-container *ngIf="loading; else submitTexta">
              <div class="spinner-border" role="status"></div>
            </ng-container>
            <ng-template #submitTexta>Register</ng-template>
          </button>

        </form>
      </div>
    </div>
  </div>
  <button
    title="Close (Esc)"
    type="button"
    class="mfp-close"
    (click)="modal.close('close')"
  ></button>
</ng-template>
