
<div class="container my-5">
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron">
      <h1 class="h4" *ngIf="!errorMessage">Create New Password!</h1>
      <h1 class="h4 text-danger" *ngIf="errorMessage">{{errorMessage}}</h1>
      <form [formGroup]="form" (ngSubmit)="reset()" class="login" *ngIf="!errorMessage">
        <p class="utf_row_form utf_form_wide_block">
          <label for="username">
            <input
              type="text"
              class="input-text mb-0"
              placeholder="New Password"
              id="username"
              formControlName="password"
            />
          </label>
          <small
            *ngIf="form.errors && form.errors.password"
            class="form-text text-danger pl-2"
          >{{form.errors.password}}</small
          >
        </p>
        <p class="utf_row_form utf_form_wide_block">
          <label for="password">
            <input
              class="input-text mb-0"
              type="password"
              formControlName="confirm_password"
              id="password"
              placeholder="Confirm Password"
            />
          </label>
          <small
            *ngIf="form.errors && form.errors.confirm_password"
            class="form-text text-danger pl-2"
          >{{form.errors.confirm_password}}</small
          >
        </p>

        <div class="utf_row_form">
          <button
            type="submit"
            class="button border margin-top-5"
            [disabled]="loading"
          >
            <ng-container *ngIf="loading; else submitText">
              <div class="spinner-border" role="status"></div>
            </ng-container>
            <ng-template #submitText>Reset</ng-template>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
