<div class="clearfix"></div>

<div
  class="search_container_block home_main_search_part main_search_block"
  style="background-image: url('assets/images/city_search_background.jpg');"
>
  <div class="main_inner_search_block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <ngx-typed-js [backDelay]="1050" [backSpeed]="80" [loop]="true"
                          [startDelay]="1000" [strings]="['Directories', 'Jobs', 'Classifieds']" [typeSpeed]="80">
              Find Your Nearby
              <span class="typing typed-words"></span>
            </ngx-typed-js>
          </h2>
          <h4>
            Find some of the best tips from around the city from our partners
            and friends.
          </h4>
          <div class="main_input_search_part">
            <div class="main_input_search_part_item">
              <input
                #searchInput
                placeholder="What are you looking for?"
                type="text"
              />
            </div>
            <button class="button" (click)="goToSearchPage(searchInput)">Search</button>
          </div>

          <div class="main_popular_categories">
            <h3>Select Your Choice</h3>
            <ul class="main_popular_categories_list text-white">
              <li><a>
                <div style="cursor: pointer;" [class.bg-danger]="selectedOption == 'classified'" (click)="selectedOption =  'classified'"  class="utf_box"><i class="im im-icon-Chef-Hat"></i>
                  <p style="cursor: pointer;">Classified</p>
                </div>
              </a>
              </li>
              <li><a>
                <div [class.bg-danger]="selectedOption == 'directory'" (click)="selectedOption =  'directory'" style="cursor: pointer;" class="utf_box"><i class="im im-icon-Dumbbell"></i>
                  <p style="cursor: pointer;">Directory</p>
                </div>
              </a>
              </li>
              <li><a>
                <div [class.bg-danger]="selectedOption == 'job'" (click)="selectedOption =  'job'" style="cursor: pointer;" class="utf_box"><i class="im im-icon-Electric-Guitar"></i>
                  <p style="cursor: pointer;">Job</p>
                </div>
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container padding-bottom-70">
  <div class="row">
    <div class="col-md-12">
      <h3 class="headline_part centered margin-bottom-35 margin-top-70">Featured Directory Categories <span>Discover best things to do restaurants, shopping, hotels, cafes and places<br>around the world by categories.</span>
      </h3>
    </div>
    <div class="col-md-4" *ngFor="let directory of featureDirectoryCategories">
      <a [routerLink]="['/job/category', directory.slug]" class="img-box">
        <div class="utf_img_content_box visible">
          <h4 class="text-capitalize">{{directory.name}}</h4>
        </div>
        <div *ngIf="directory.icon" class="img-box-background" style="background-image: url('{{directory.icon}}');">

        </div>
        <div *ngIf="!directory.icon" class="img-box-background" style="background-image: url('assets/images/dumylogo.png');">

        </div>
      </a>
    </div>

    <div class="col-md-12 centered_content"><a [routerLink]="['/directory']" class="button border margin-top-20">View
      More Directories</a></div>
  </div>
</div>


<div class="container margin-top-75">
  <div class="row slick_carousel_slider">
    <div class="col-md-12">
      <h3 class="headline_part centered margin-bottom-45"> Featured Classified Categories <span>Explore the greates places in the city</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="utf_carousel_item container">
          <div class="row">

            <a *ngFor="let classified of featureClassifiedCategories"  [routerLink]="['/classified/category', classified.slug]" class="utf_listing_item-container compact col-md-4" style="background-color: unset; box-shadow: unset;">
              <div class="utf_listing_item">
                <img *ngIf="!classified.icon" src="assets/images/dumylogo.png">
                <img *ngIf="classified.icon" src="{{classified.icon}}">
                <div class="utf_listing_item_content">
                  <div class="utf_listing_prige_block">
                  </div>
                  <div class="utf_img_content_box visible">
                    <h4 class="text-capitalize">{{classified.name}}</h4>
                  </div>
                </div>
              </div>
            </a>

            <div class="col-md-12 centered_content">
              <a [routerLink]="['/classified']" class="button border margin-top-20">View
                More Classified's
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container margin-top-75">
  <div class="row slick_carousel_slider">
    <div class="col-md-12">
      <h3 class="headline_part centered margin-bottom-45"> Featured Job Categories <span>Explore the greates places in the city</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="utf_carousel_item container">
          <div class="row">

            <a *ngFor="let category of featureJobCategories"  [routerLink]="['/job/category', category.slug]" class="utf_listing_item-container compact col-md-4" style="background-color: unset; box-shadow: unset;">
              <div class="utf_listing_item">
                <img *ngIf="!category.icon" src="assets/images/dumylogo.png">
                <img *ngIf="category.icon" src="{{category.icon}}">
                <div class="utf_listing_item_content">
                  <div class="utf_listing_prige_block">
                  </div>
                  <div class="utf_img_content_box visible">
                    <h4 class="text-capitalize">{{category.name}}</h4>
                  </div>
                </div>
              </div>
            </a>

            <div class="col-md-12 centered_content">
              <a [routerLink]="['/job']" class="button border margin-top-20">View
                More Job's
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="utf_cta_area_item utf_cta_area2_block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="utf_subscribe_block clearfix">
          <div class="col-md-8 col-sm-7">
            <div class="section-heading">
              <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
              <p class="utf_sec_meta">
                Subscribe to get latest updates and information.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-5">
            <div class="contact-form-action">
              <form [formGroup]="emailSubmitForm">
                <span class="la la-envelope-o"></span>
                <input class="form-control" formControlName="email" placeholder="Enter your email" type="email">
                <button class="utf_theme_btn" type="submit">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
