<swal
  #deleteSwal
  text="This cannot be undone"
  icon="question"
  title="Delete Company?"
  [showCancelButton]="true"
  (confirm)="deleteProfile()"
>
</swal>

<swal #deleteSuccess title="Delete Success?" icon="success"> </swal>

<swal
  #deleteJob
  text="This cannot be undone"
  icon="question"
  title="Delete Job?"
  [showCancelButton]="true"
  (confirm)="deleteJobConfirm()"
>
</swal>

<ng-template #create_new_job let-c="close" let-d="dismiss">
  <div class="modal-header p-4">
    <h4 class="modal-title" id="modal-basic-title">New Job</h4>
    <button
      type="button"
      class="close text-danger"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="jobPostForm" (ngSubmit)="submitJobForm()">
      <div class="form-group">
        <label for="directory_title_new">Job Title :</label>
        <input
          formControlName="title"
          type="text"
          class="form-control mb-0"
          id="directory_title_new"
          placeholder="Ex. Vacancy for musical artist."
        />
        <small
          *ngIf="jobPostForm.errors && jobPostForm.errors.title"
          class="form-text text-danger"
          >{{ jobPostForm.errors.title }}</small
        >
      </div>

      <div class="form-group">
        <label for="directory_title_new">Job Description :</label>
        <textarea
          formControlName="description"
          class="form-control mb-0"
          cols="30"
          rows="10"
          placeholder="Requirement, Experience, Responsibility, Salary, Job Type etc...."
        ></textarea>
        <small
          *ngIf="jobPostForm.errors && jobPostForm.errors.description"
          class="form-text text-danger"
          >{{ jobPostForm.errors.description }}</small
        >
      </div>

      <div class="form-group">
        <label>Category :</label>
        <select2
          [data]="categoryDataForFormSelector"
          formControlName="category"
          placeholder="Select categories"
          [multiple]="true"
        >
        </select2>
        <small
          *ngIf="jobPostForm.errors && jobPostForm.errors.category"
          class="form-text text-danger"
          >{{ jobPostForm.errors.category }}</small
        >
      </div>

      <button
        type="submit"
        class="button preview btn-block"
        [disabled]="loading"
      >
        <ng-container *ngIf="loading; else submitText">
          <div class="spinner-border" role="status"></div>
        </ng-container>
        <ng-template #submitText>Submit</ng-template>
      </button>
    </form>
  </div>
</ng-template>

<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Company Details</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>Professional</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <h4 class="gray">
        <i class="im im-icon-Office"></i> Professional Profile
      </h4>
      <div
        class="alert alert-warning"
        role="alert"
        *ngIf="!ProfessionalDetail.name"
      >
        Profile is incomplete ! Please complete with proper details.
      </div>

      <div class="row" *ngIf="ProfessionalDetail.name">
        <div class="col-12 text-right">
          <button
            class="button bg-primary preview m-4"
            (click)="create_new_job_modal(create_new_job)"
          >
            Post a Job
          </button>
        </div>
      </div>
      <div class="utf_dashboard_list_box-static">
        <div class="edit-profile-photo company_profile_image">
          <img src="{{ ProfessionalDetail.image }}" alt="" />
          <div *ngIf="!editMode" class="change-photo-btn">
            <div class="photoUpload">
              <span><i class="fa fa-upload"></i> Upload Photo</span>
              <input
                type="file"
                accept="image/*"
                class="upload"
                (change)="uploadImage($event)"
              />
            </div>
          </div>
        </div>
        <hr />

        <form [formGroup]="formData" class="my-profile">
          <div class="row with-forms">
            <div class="col-md-12" *ngIf="ProfessionalDetail.name">
              <label class="text-center">Name : </label>
              <p class="input-text text-center text-capitalize">
                {{ ProfessionalDetail.name }}
              </p>
            </div>
            <div class="col-md-6">
              <label>Father Name :</label>
              <p class="input-text pl-3 text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.father }}
              </p>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="father"
                placeholder="Father Name"
              />
              <small
                *ngIf="formData.errors && formData.errors.father"
                class="form-text text-danger"
                >{{ formData.errors.father }}</small
              >
            </div>

            <div class="col-md-6">
              <label>Mother Name :</label>
              <p class="input-text pl-3 text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.mother }}
              </p>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="mother"
                placeholder="Mother Name"
              />
              <small
                *ngIf="formData.errors && formData.errors.mother"
                class="form-text text-danger"
                >{{ formData.errors.mother }}</small
              >
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Birthday :</label>
                <p class="input-text pl-3 text-capitalize" *ngIf="editMode">
                  {{ ProfessionalDetail.birthday }}
                </p>
                <div class="input-group" *ngIf="!editMode">

                  <ngb-datepicker [startDate]="{year: 1980, month: 7}"  formControlName="birthday" [(ngModel)]="dataSelector" ></ngb-datepicker>

                </div>
                <small
                  *ngIf="formData.errors && formData.errors.birthday"
                  class="form-text text-danger"
                  >{{ formData.errors.birthday }}</small
                >
              </div>
            </div>

            <div class="col-md-4">
              <label>Gender :</label>
              <p class="input-text pl-3 text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.gender }}
			        </p>

			        <select2
                *ngIf="!editMode"
                [data]="genderDataForFormSelector"
                formControlName="gender"
                placeholder="Select Gender"
                [multiple]="false"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.gender"
                class="form-text text-danger"
                >{{ formData.errors.gender }}</small
              >
			</div>
			<div class="col-md-4">
				<label>Religion :</label>
				<p class="input-text pl-3 text-capitalize" *ngIf="editMode">
				  {{ ProfessionalDetail.religion }}
				</p>

				<select2
				  *ngIf="!editMode"
				  [data]="religionDataForFormSelector"
				  formControlName="religion"
				  placeholder="Select One"
				  [multiple]="false"
				>
				</select2>
				<small
				  *ngIf="formData.errors && formData.errors.religion"
				  class="form-text text-danger"
				  >{{ formData.errors.religion }}</small
				>
			  </div>

			  <div class="col-md-4">
				<label>Nationality :</label>
				<p class="input-text pl-3" *ngIf="editMode">
				  {{ ProfessionalDetail.nationality }}
				</p>
				<input
				  *ngIf="!editMode"
				  type="text"
				  class="input-text mb-0"
				  formControlName="nationality"
				  placeholder="Ex. Indian"
				/>
				<small
				  *ngIf="formData.errors && formData.errors.nationality"
				  class="form-text text-danger"
				  >{{ formData.errors.nationality }}</small
				>
			  </div>

			  <div class="col-md-4">
				<label>Maritial Status :</label>
				<p class="input-text pl-3 text-capitalize" *ngIf="editMode">
				  {{ ProfessionalDetail.marital_status }}
				</p>

				<select2
				  *ngIf="!editMode"
				  [data]="maritialStatusDataForFormSelector"
				  formControlName="marital_status"
				  placeholder="Select One"
				  [multiple]="false"
				>
				</select2>
				<small
				  *ngIf="formData.errors && formData.errors.marital_status"
				  class="form-text text-danger"
				  >{{ formData.errors.marital_status }}</small
				>
			  </div>
            <div class="col-md-12">
              <label>Description :</label>
              <pre
                class="input-text ml-3 border p-2"
                style="
                  white-space: pre-wrap;
                  font-family: 'Nunito';
                  color: #707070;
                "
                *ngIf="editMode"
                >{{ ProfessionalDetail.description }}</pre
              >
              <textarea
                *ngIf="!editMode"
                formControlName="description"
                placeholder="Ex. Experience, Expertise, Education etc..."
                cols="30"
                rows="10"
                class="mb-0"
              ></textarea>
              <small
                *ngIf="formData.errors && formData.errors.description"
                class="form-text text-danger"
                >{{ formData.errors.description }}</small
              >
			</div>

			<div class="col-md-12">
				<label>Career Summary :</label>
				<pre
				  class="input-text ml-3 border p-2"
				  style="
					white-space: pre-wrap;
					font-family: 'Nunito';
					color: #707070;
				  "
				  *ngIf="editMode"
				  >{{ ProfessionalDetail.career_summary }}</pre
				>
				<textarea
				  *ngIf="!editMode"
				  formControlName="career_summary"
				  placeholder="Sort summary"
				  cols="30"
				  rows="10"
				  class="mb-0"
				></textarea>
				<small
				  *ngIf="formData.errors && formData.errors.career_summary"
				  class="form-text text-danger"
				  >{{ formData.errors.career_summary }}</small
				>
			  </div>

            <div class="col-md-12">
              <label>Preferred fields :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                <span
                  class="m-1 badge badge-pill badge-warning p-2"
                  *ngFor="let category of ProfessionalDetail.category"
                  >{{ category.name }}</span
                >
              </p>
              <select2
                *ngIf="!editMode"
                [data]="categoryDataForFormSelector"
                formControlName="category"
                placeholder="Select fields that matched you"
                [multiple]="true"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.category"
                class="form-text text-danger"
                >{{ formData.errors.category }}</small
              >
            </div>

            <div class="col-md-6">
              <label>State :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                <span class="m-1 badge badge-pill badge-warning p-2 text-capitalize">{{
                  ProfessionalDetail.state.name
                }}</span>
              </p>
              <select2
                *ngIf="!editMode"
                [data]="stateDataForFormSelector"
                formControlName="state"
                placeholder="Select state"
                [multiple]="false"
                (update)="getCity($event)"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.state"
                class="form-text text-danger"
                >{{ formData.errors.state }}</small
              >
            </div>
            <div class="col-md-6">
              <label>City :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                <span class="m-1 badge badge-pill badge-warning p-2 text-capitalize">{{
                  ProfessionalDetail.city.name
                }}</span>
              </p>
              <select2
                *ngIf="!editMode"
                [data]="cityDataForFormSelector"
                formControlName="city"
                placeholder="Select City"
                [multiple]="false"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.city"
                class="form-text text-danger"
                >{{ formData.errors.city }}</small
              >
            </div>

            <div class="col-md-12">
              <label>Street Address :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                {{ ProfessionalDetail.address }}
              </p>
              <textarea
                *ngIf="!editMode"
                formControlName="address"
                placeholder="ex. 128 - B, Chittaranjan Avenue, Chittaranjan Avenue"
                class="mb-0"
              ></textarea>
              <small
                *ngIf="formData.errors && formData.errors.address"
                class="form-text text-danger"
                >{{ formData.errors.address }}</small
              >
			</div>

			<div class="col-md-6">
				<label>Alternate Phone :</label>
				<p class="input-text pl-3" *ngIf="editMode">
          <ng-container *ngIf="ProfessionalDetail.alternate_phone">
            {{ ProfessionalDetail.alternate_phone }}
          </ng-container>
          <ng-container *ngIf="!ProfessionalDetail.alternate_phone">
            No Number!
          </ng-container>

				</p>
				<input
				  *ngIf="!editMode"
				  type="text"
				  class="input-text mb-0"
				  formControlName="alternate_phone"
				  placeholder="ex. 91010000000"
				/>
				<small
				  *ngIf="formData.errors && formData.errors.alternate_phone"
				  class="form-text text-danger"
				  >{{ formData.errors.alternate_phone }}</small
				>
			  </div>

			  <div class="col-md-6">
				<label>Alternate Email :</label>
				<p class="input-text pl-3" *ngIf="editMode">
          <ng-container *ngIf="ProfessionalDetail.alternate_email">
            {{ ProfessionalDetail.alternate_email }}
          </ng-container>
          <ng-container *ngIf="!ProfessionalDetail.alternate_email">
            No Email!
          </ng-container>

				</p>
				<input
				  *ngIf="!editMode"
				  type="text"
				  class="input-text mb-0"
				  formControlName="alternate_email"
				  placeholder="ex. example@email.com"
				/>
				<small
				  *ngIf="formData.errors && formData.errors.alternate_email"
				  class="form-text text-danger"
				  >{{ formData.errors.alternate_email }}</small
				>
			  </div>
          </div>

          <button
            class="button preview bg-warning margin-top-15"
            (click)="editMode = false"
            *ngIf="editMode"
          >
            <ng-container *ngIf="ProfessionalDetail.name">
              Edit Detail
            </ng-container>
            <ng-container *ngIf="!ProfessionalDetail.name">
              Add Detail
            </ng-container>
          </button>

          <button
            class="button preview margin-top-15 ml-2"
            (click)="openDeleteSwal()"
            *ngIf="editMode && ProfessionalDetail.name"
          >
            Delete profile?
          </button>

          <button
            (click)="submitData()"
            class="button bg-primary preview margin-top-15"
            *ngIf="!editMode"
          >
            Save Change
          </button>
          <button
            class="button preview ml-2 margin-top-15"
            (click)="editMode = true"
            *ngIf="!editMode && ProfessionalDetail.name"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="ProfessionalDetail.name">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by">
        <div class="utf_sort_by_select_item">
          <select
            (change)="ChangeItemPerPageSize($event)"
            class="utf_chosen_select_single"
          >
            <option value="10">10 items per page</option>
            <option value="50">50 items per page</option>
            <option value="100">100 items per page</option>
            <option value="200">200 items per page</option>
          </select>
        </div>
      </div>

      <h4><i class="sl sl-icon-list"></i> Job Posted By This Company</h4>
      <ul class="border-left">
        <ng-container
          *ngFor="
            let job of jobs
              | paginate
                : {
                    currentPage: currentPageNumber,
                    totalItems: totalVolume,
                    itemsPerPage: itemPerPage
                  }
          "
        >
          <li>
            <div class="utf_list_box_listing_item">
              <div class="utf_list_box_listing_item_content">
                <div class="inner">
                  <h3>Title : {{ job.title }}</h3>
                  <h5>
                    Category :
                    <span
                      class="m-1 badge badge-pill badge-warning p-2 d-inline"
                      *ngFor="let cat of job.category"
                      >{{ cat.name }}</span
                    >
                  </h5>

                  <div class="row">
                    <pre class="p-2">
Description :      <app-read-more title="Description" class="lead" [maxLength]="10" [text]="job.description"></app-read-more>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a
                (click)="openEditModal(create_new_job, job)"
                class="button gray"
                ><i class="fa fa-pencil"></i> Edit</a
              >
              <a (click)="deleteJobSwalOpen(job.id)" class="button gray"
                ><i class="fa fa-trash-o"></i> Delete</a
              >
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
      <pagination-controls
        (pageBoundsCorrection)="pageChange($event)"
        screenReaderCurrentLabel=".."
        nextLabel=""
        previousLabel=""
        class="pagination"
        (pageChange)="pageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
