
<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Company Details</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>Professional</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <h4 class="gray">
        <i class="im im-icon-Office"></i> Professional Profile
      </h4>
      <div
        class="alert alert-warning"
        role="alert"
        *ngIf="!ProfessionalDetail.name"
      >
        Profile is incomplete ! Please complete with proper details.
      </div>

      <div class="utf_dashboard_list_box-static">
        <div class="edit-profile-photo company_profile_image">
          <img src="{{ ProfessionalDetail.image }}" alt="" />
          <div *ngIf="!editMode" class="change-photo-btn">
            <div class="photoUpload">
              <span><i class="fa fa-upload"></i> Upload Photo</span>
              <input
                type="file"
                accept="image/*"
                class="upload"
                (change)="uploadImage($event)"
              />
            </div>
          </div>
        </div>
        <hr />

        <form [formGroup]="formData" class="my-profile">
          <div class="row with-forms">
            <div class="col-md-12" *ngIf="ProfessionalDetail.name">
              <label class="">Name :
              <p class="text-capitalize d-inline">
                {{ ProfessionalDetail.name }}
              </p>
            </label>
            </div>
            <div [class.col-md-4]="editMode" [class.col-md-6]="!editMode">
              <label>Father Name :
              <p class="text-capitalize d-inline" *ngIf="editMode">
                {{ ProfessionalDetail.father }}
              </p>
            </label>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="father"
                placeholder="Father Name"
              />
              <small
                *ngIf="formData.errors && formData.errors.father"
                class="form-text text-danger"
                >{{ formData.errors.father }}</small
              >
            </div>

            <div class="col-md-6">
              <label>Mother Name :
              <p class="d-inline text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.mother }}
              </p>
            </label>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="mother"
                placeholder="Mother Name"
              />
              <small
                *ngIf="formData.errors && formData.errors.mother"
                class="form-text text-danger"
                >{{ formData.errors.mother }}</small
              >
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Birthday :
                <p class="d-inline text-capitalize" *ngIf="editMode">
                  {{ ProfessionalDetail.birthday }}
                </p>
              </label>
                <div class="input-group" *ngIf="!editMode">
                  <ngb-datepicker
                    [startDate]="{ year: 1980, month: 7 }"
                    formControlName="birthday"
                    [(ngModel)]="dataSelector"
                  ></ngb-datepicker>
                </div>
                <small
                  *ngIf="formData.errors && formData.errors.birthday"
                  class="form-text text-danger"
                  >{{ formData.errors.birthday }}</small
                >
              </div>
            </div>

            <div class="col-md-4">
              <label>Gender :
              <p class="d-inline text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.gender }}
              </p>
            </label>

              <select2
                *ngIf="!editMode"
                [data]="genderDataForFormSelector"
                formControlName="gender"
                placeholder="Select Gender"
                [multiple]="false"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.gender"
                class="form-text text-danger"
                >{{ formData.errors.gender }}</small
              >
            </div>
            <div class="col-md-4">
              <label>Religion :
              <p class="d-inline text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.religion }}
              </p>
            </label>

              <select2
                *ngIf="!editMode"
                [data]="religionDataForFormSelector"
                formControlName="religion"
                placeholder="Select One"
                [multiple]="false"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.religion"
                class="form-text text-danger"
                >{{ formData.errors.religion }}</small
              >
            </div>

            <div class="col-md-4">
              <label>Nationality :
              <p class="d-inline text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.nationality }}
              </p>
            </label>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="nationality"
                placeholder="Ex. Indian"
              />
              <small
                *ngIf="formData.errors && formData.errors.nationality"
                class="form-text text-danger"
                >{{ formData.errors.nationality }}</small
              >
            </div>

            <div class="col-md-4">
              <label>Maritial Status :
              <p class="d-inline text-capitalize" *ngIf="editMode">
                {{ ProfessionalDetail.marital_status }}
              </p>
            </label>

              <select2
                *ngIf="!editMode"
                [data]="maritialStatusDataForFormSelector"
                formControlName="marital_status"
                placeholder="Select One"
                [multiple]="false"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.marital_status"
                class="form-text text-danger"
                >{{ formData.errors.marital_status }}</small
              >
            </div>
            <div class="col-md-12">
              <label>Description :</label>
              <pre
                class="input-text ml-3 p-2"
                style="
                  white-space: pre-wrap;
                  font-family: 'Nunito';
                  color: #707070;
                "
                *ngIf="editMode"
                >{{ ProfessionalDetail.description }}</pre
              >
              <hr *ngIf="editMode">
              <textarea
                *ngIf="!editMode"
                formControlName="description"
                placeholder="Ex. Experience, Expertise, Education etc..."
                cols="30"
                rows="10"
                class="mb-0"
              ></textarea>
              <small
                *ngIf="formData.errors && formData.errors.description"
                class="form-text text-danger"
                >{{ formData.errors.description }}</small
              >
            </div>

            <div class="col-md-12">
              <label>Career Summary :</label>
              <pre
                class="input-text ml-3 p-2"
                style="
                  white-space: pre-wrap;
                  font-family: 'Nunito';
                  color: #707070;
                "
                *ngIf="editMode"
                >{{ ProfessionalDetail.career_summary }}</pre
              >
              <hr *ngIf="editMode">
              <textarea
                *ngIf="!editMode"
                formControlName="career_summary"
                placeholder="Sort summary"
                cols="30"
                rows="10"
                class="mb-0"
              ></textarea>
              <small
                *ngIf="formData.errors && formData.errors.career_summary"
                class="form-text text-danger"
                >{{ formData.errors.career_summary }}</small
              >
            </div>

            <div class="col-md-12">
              <label>Preferred fields :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                <span
                  class="m-1 badge badge-pill badge-warning p-2"
                  *ngFor="let category of ProfessionalDetail.category"
                  >{{ category.name }}</span
                >
              </p>
              <select2
                *ngIf="!editMode"
                [data]="categoryDataForFormSelector"
                formControlName="category"
                placeholder="Select fields that matched you"
                [multiple]="true"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.category"
                class="form-text text-danger"
                >{{ formData.errors.category }}</small
              >
            </div>

            <div class="col-md-6">
              <label>State :
              <p class="d-inline" *ngIf="editMode">
                <span
                  class="m-1 badge badge-pill badge-warning p-2 text-capitalize"
                  >{{ ProfessionalDetail.state.name }}</span
                >
              </p>
            </label>
              <select2
                *ngIf="!editMode"
                [data]="stateDataForFormSelector"
                formControlName="state"
                placeholder="Select state"
                [multiple]="false"
                (update)="getCity($event)"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.state"
                class="form-text text-danger"
                >{{ formData.errors.state }}</small
              >
            </div>
            <div class="col-md-6">
              <label>City :
              <p class="d-inline" *ngIf="editMode">
                <span
                  class="m-1 badge badge-pill badge-warning p-2 text-capitalize"
                  >{{ ProfessionalDetail.city.name }}</span
                >
              </p>
            </label>
              <select2
                *ngIf="!editMode"
                [data]="cityDataForFormSelector"
                formControlName="city"
                placeholder="Select City"
                [multiple]="false"
              >
              </select2>
              <small
                *ngIf="formData.errors && formData.errors.city"
                class="form-text text-danger"
                >{{ formData.errors.city }}</small
              >
            </div>

            <div class="col-md-12">
              <label>Street Address :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                {{ ProfessionalDetail.address }}
              </p>
              <textarea
                *ngIf="!editMode"
                formControlName="address"
                placeholder="ex. 128 - B, Chittaranjan Avenue, Chittaranjan Avenue"
                class="mb-0"
              ></textarea>
              <small
                *ngIf="formData.errors && formData.errors.address"
                class="form-text text-danger"
                >{{ formData.errors.address }}</small
              >
            </div>

            <div class="col-md-6">
              <label>Alternate Phone :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                <ng-container *ngIf="ProfessionalDetail.alternate_phone">
                  {{ ProfessionalDetail.alternate_phone }}
                </ng-container>
                <ng-container *ngIf="!ProfessionalDetail.alternate_phone">
                  No Number!
                </ng-container>
              </p>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="alternate_phone"
                placeholder="ex. 91010000000"
              />
              <small
                *ngIf="formData.errors && formData.errors.alternate_phone"
                class="form-text text-danger"
                >{{ formData.errors.alternate_phone }}</small
              >
            </div>

            <div class="col-md-6">
              <label>Alternate Email :</label>
              <p class="input-text pl-3" *ngIf="editMode">
                <ng-container *ngIf="ProfessionalDetail.alternate_email">
                  {{ ProfessionalDetail.alternate_email }}
                </ng-container>
                <ng-container *ngIf="!ProfessionalDetail.alternate_email">
                  No Email!
                </ng-container>
              </p>
              <input
                *ngIf="!editMode"
                type="text"
                class="input-text mb-0"
                formControlName="alternate_email"
                placeholder="ex. example@email.com"
              />
              <small
                *ngIf="formData.errors && formData.errors.alternate_email"
                class="form-text text-danger"
                >{{ formData.errors.alternate_email }}</small
              >
            </div>
          </div>

          <button
            class="button preview bg-warning margin-top-15"
            (click)="editMode = false"
            *ngIf="editMode"
          >
            <ng-container *ngIf="ProfessionalDetail.name">
              Edit Detail
            </ng-container>
            <ng-container *ngIf="!ProfessionalDetail.name">
              Add Detail
            </ng-container>
          </button>


          <button
            (click)="submitData()"
            type="submit"
            class="button bg-primary preview margin-top-15"
            [disabled]="loading"
            *ngIf="!editMode"
          >
            <ng-container *ngIf="loading; else submitText">
              <div class="spinner-border" role="status"></div>
            </ng-container>
            <ng-template #submitText>Save Change</ng-template>
          </button>

          <button
            class="button preview ml-2 margin-top-15"
            (click)="editMode = true"
            *ngIf="!editMode && ProfessionalDetail.name"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


