<div id="footer" class="footer_sticky_part">
	<div class="container">
	  <div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
		  <h4>Useful Links</h4>
		  <ul class="social_footer_link">
			<li><a [routerLink]="['/']">Home</a></li>
			<li><a [routerLink]="['/terms-of-use']">Terms Of Use</a></li>
			<li><a [routerLink]="['/privacy-and-policy']">Privacy And Policy</a></li>
		  </ul>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
		  <h4>Pages</h4>
		  <ul class="social_footer_link">
			<li><a [routerLink]="['/classified']">Classified</a></li>
			<li><a [routerLink]="['/directory']">Directory</a></li>
			<li><a [routerLink]="['/job']">Job</a></li>
		  </ul>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12">
		  <h4>About Us</h4>
		  <p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet,
			consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
			labore
		  </p>
		</div>
	  </div>

	  <div class="row">
		<div class="col-md-12">
		  <div class="footer_copyright_part">
			Copyright © 2021 All Rights Reserved.
		  </div>
		</div>
	  </div>
	</div>
  </div>
