<div class="holding_container bg-dark" >
  <div class="container-login" >
    <div class="small_dialog_header for-mob" @fade_in>
      <h3>Sign In</h3>
    </div>
    <div  class="utf_signin_form style_one padding-custom" @fade_in>
      <ul class="utf_tabs_nav">
        <li class="active">
          <a>Log In</a>
        </li>
        <li>
          <a [routerLink]="['/register']">Register</a>
        </li>
      </ul>
      <div class="tab_container alt">
        <div class="tab_content">
          <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- <a href="javascript:void(0);" class="social_bt facebook_btn"
              ><i class="fa fa-facebook"></i>Login with Facebook</a
            >
            <a href="javascript:void(0);" class="social_bt google_btn"
              ><i class="fa fa-google-plus"></i>Login with Google</a
            > -->
            <p class="utf_row_form utf_form_wide_block">
              <label for="username">
                <input
                  type="text"
                  class="input-text"
                  formControlName="email"
                  id="username"
                  value=""
                  placeholder="Email or Username"
                />
              </label>
            </p>
            <p class="utf_row_form utf_form_wide_block">
              <label for="password">
                <input
                  class="input-text"
                  type="password"
                  formControlName="password"
                  id="password"
                  placeholder="Password"
                />
              </label>
            </p>
            <div class="utf_row_form utf_form_wide_block form_forgot_part">
              <span class="lost_password fl_left">
                <a href="javascript:void(0);">Forgot Password?</a>
              </span>
              <div class="checkboxes fl_right">
                <input id="remember-me" type="checkbox" formControlName="remember" />
                <label for="remember-me">Remember Me</label>
              </div>
            </div>
            <div class="utf_row_form">
              <input
                type="submit"
                class="button border margin-top-5"
                name="login"
                value="Login"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
