<div class="holding_container bg-dark">
  <div class="container-login">
    <div class="small_dialog_header for-mob">
      <h3>{{headingText}}</h3>
    </div>
    <div class="utf_signin_form style_one padding-custom">
      <ul class="utf_tabs_nav">
        <li
          #signInTabBtn
          class="active"
          (click)="
            toggleInModalAction(
              signInTabBtn,
              registerTabBtn,
              signInTab,
              registerTab
            )
		  "
		  
		  (click)="changeHeading('Sign In')"
        >
          <a>Log In</a>
        </li>
        <li
          #registerTabBtn
          (click)="
            toggleInModalAction(
              registerTabBtn,
              signInTabBtn,
              registerTab,
              signInTab
            )
		  "
		  
		  (click)="changeHeading('Register New')"
        >
          <a>Register</a>
        </li>
      </ul>
      <div class="tab_container alt">
        <div class="tab_content" #signInTab>
          <form  [formGroup]="registerForm" class="login">
            <a href="javascript:void(0);" class="social_bt facebook_btn"
              ><i class="fa fa-facebook"></i>Login with Facebook</a
            >
            <a href="javascript:void(0);" class="social_bt google_btn"
              ><i class="fa fa-google-plus"></i>Login with Google</a
            >
            <p class="utf_row_form utf_form_wide_block">
              <label for="username">
                <input
                  type="text"
                  class="input-text"
                  name="username"
                  id="username"
                  value=""
                  placeholder="Username"
                />
              </label>
            </p>
            <p class="utf_row_form utf_form_wide_block">
              <label for="password">
                <input
                  class="input-text"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
              </label>
            </p>
            <div class="utf_row_form utf_form_wide_block form_forgot_part">
              <span class="lost_password fl_left">
                <a href="javascript:void(0);">Forgot Password?</a>
              </span>
              <div class="checkboxes fl_right">
                <input id="remember-me" type="checkbox" name="check" />
                <label for="remember-me">Remember Me</label>
              </div>
            </div>
            <div class="utf_row_form">
              <input
                type="submit"
                class="button border margin-top-5"
                name="login"
                value="Login"
              />
            </div>
          </form>
        </div>

        <div class="tab_content" #registerTab style="display: none">
          <form [formGroup]="registerForm" class="register" (ngSubmit)="submitRegister()">
            <p class="utf_row_form utf_form_wide_block">
              <label for="first_name">
                <input
                  type="text"
                  class="input-text"
                  id="first_name"
                  formControlName="first_name"
                  placeholder="First Name"
                />
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="last_name">
                <input
                  type="text"
                  class="input-text"
                  id="last_name"
                  formControlName="last_name"
                  placeholder="Last Name"
                />
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="email2">
                <input
                  type="text"
                  class="input-text"
                  id="email2"
                  formControlName="email"
                  placeholder="Email"
                />
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="phone">
                <input
                  type="text"
                  class="input-text"
                  id="phone"
                  formControlName="phone"
                  placeholder="Phone"
                />
              </label>
			</p>
			
			<p class="utf_row_form utf_form_wide_block">
				<label for="gender">
					<select formControlName='gender' id="gender">
						<option value="m" selected="true">Male</option>
						<option value="f">Female</option>
						<option value="o">other</option>
					</select>				  
				</label>
			  </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="username">
                <input
                  type="text"
                  class="input-text"
                  id="username"
                  formControlName="username"
                  placeholder="username"
                />
              </label>
            </p>
            <p class="utf_row_form utf_form_wide_block">
              <label for="password1">
                <input
                  class="input-text"
                  type="password"
                  formControlName="password"
                  id="password1"
                  placeholder="Password"
                />
              </label>
            </p>
            <input
              type="submit"
              class="button border fw margin-top-10"
              name="register"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
