<swal
  #deleteSwal
  text="This cannot be undone"
  icon="question"
  title=""
  [showCancelButton]="true"
  (confirm)="deleteCategory()"
  (cancel)="cancelDelete()"
>
</swal>

<swal
  #ApproveSwal
  text="Approve this post!"
  icon="question"
  title="Approval"
  [showCancelButton]="true"
  (confirm)="approvalPost()"
>
</swal>

<swal #deleteSuccess title="Category deleted!" icon="success"> </swal>
<swal #ApproveSuccess title="Approved!" icon="success"> </swal>

<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Classified</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>Classified</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by">
        <div class="utf_sort_by_select_item">
          <select
            (change)="ChangeItemPerPageSize($event)"
            class="utf_chosen_select_single"
          >
            <option value="10">10 items per page</option>
            <option value="50">50 items per page</option>
            <option value="100">100 items per page</option>
            <option value="200">200 items per page</option>
          </select>
        </div>

        <div class="utf_sort_by_select_item ml-2">
          <select
            (change)="ChangePostStatus($event)"
            class="utf_chosen_select_single"
          >
            <option value="all">All</option>
            <option value="active">Active</option>
            <option value="pending">Pending</option>
          </select>
        </div>
      </div>

      <h4><i class="sl sl-icon-list"></i> Classified List</h4>
      <ul class="border-left">
        <ng-container
          *ngFor="
            let product of products
              | paginate
                : {
                    currentPage: currentPageNumber,
                    totalItems: totalVolume,
                    itemsPerPage: itemPerPage
                  }
          "
        >
          <li>
            <div class="utf_list_box_listing_item">
              <div class="utf_list_box_listing_item-img">
                <a>
                  <img *ngIf="product.images" src="{{ product.images[0] }}" />
                  <img
                    *ngIf="!product.images"
                    src="assets/images/dumylogo.png"
                  />
                </a>
              </div>
              <div class="utf_list_box_listing_item_content">
                <div class="inner">
                  <div class="row">
                    <div class="col-md-6">
                      <h3>{{ product.name }}</h3>
                      <div class="row">
                        <div class="col-2">
                          <h5 class="font-weight-bold">Brand</h5>
                          <h5 class="font-weight-bold">Condition</h5>
                          <h5 class="font-weight-bold">Age</h5>
                          <h5 class="font-weight-bold">Price</h5>
                          <h5 class="font-weight-bold">Price Type</h5>

                          <h5 class="font-weight-bold">Status</h5>
                          <h5 class="font-weight-bold">Categories</h5>
                        </div>
                        <div class="col-10">
                          <h5>: {{ product.brand.name }}</h5>
                          <h5>: {{ product.condition }}</h5>
                          <h5>: {{ product.age }} m</h5>
                          <h5>: {{ product.price }} inr</h5>
                          <h5>: {{ product.price_type }}</h5>
                          <h5 *ngIf="product.status == 1">: Active</h5>
                          <h5 *ngIf="product.status == 0">: Deactive</h5>
                          <p>
                            :
                            <span
                              *ngFor="let category of product.category"
                              class="badge badge-pill badge-canceled d-inline-block text-white font-weight-bold"
                              >{{ category.name }}</span
                            >
                          </p>

                          <div class="row" *ngIf="product.images">
                            <div
                              class="col-md-3"
                              *ngFor="
                                let product_image of product.images;
                                let ind = index
                              "
                            >
                              <img
                                src="{{ product_image }}"
                                alt=""
                                class="img-fluid"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h3>Contact & Location</h3>
                      <div class="row">
                        <div class="col-2">
                          <h5 class="font-weight-bold">User</h5>
                          <h5 class="font-weight-bold">State</h5>
                          <h5 class="font-weight-bold">City</h5>
                          <h5 class="font-weight-bold">Phone</h5>
                          <h5 *ngIf="product.phone" class="font-weight-bold">Phone 2</h5>
                          <h5 class="font-weight-bold">Email</h5>
                          <h5 *ngIf="product.email" class="font-weight-bold">Email 2</h5>
                          <h5 class="font-weight-bold">Listed Date</h5>
                        </div>
                        <div class="col-10">
                          <h5 class="text-capitalize">
                            : {{ product.user.first_name }}
                            {{ product.user.last_name }}
                          </h5>
                          <h5 class="text-capitalize">: {{ product.state.name }}</h5>
                          <h5 class="text-capitalize">: {{ product.city.name }}</h5>
                          <h5>: {{ product.user.phone }}</h5>
                          <h5 *ngIf="product.phone">: {{ product.phone }}</h5>
                          <h5>: {{ product.user.email }}</h5>
                          <h5 *ngIf="product.email">: {{ product.email }}</h5>
                          <h5>
                            :
                            {{
                              product.created_at | date: "h:mm aa , dd-LL-yyyy"
                            }}
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr />
                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a *ngIf="product.status == 0"
                (click)="openApprovalAlert(product.id)"
                class="button gray"
                ><i class="fa fa-pencil"></i> Approve</a
              >
              <a (click)="openDeleteAlert(product)" class="button gray"
                ><i class="fa fa-trash-o"></i> Delete</a
              >
            </div>
            <pre class="p-2 border">
				<app-read-more class="lead" [maxLength]="10" [text]="product.description"></app-read-more>
			  </pre>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
      <pagination-controls
        (pageBoundsCorrection)="pageChange($event)"
        screenReaderCurrentLabel=".."
        nextLabel=""
        previousLabel=""
        class="pagination"
        (pageChange)="pageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
