<swal
  #deleteSwal
  (cancel)="cancelDelete()"
  (confirm)="deleteCategory()"
  [showCancelButton]="true"
  icon="question"
  text="This cannot be undone"
  title=""
>
</swal>

<swal
  #ApproveSwal
  (confirm)="approvalPost()"
  [showCancelButton]="true"
  icon="question"
  text="Approve this post!"
  title="Approval"
>
</swal>

<swal #deleteSuccess icon="success" title="Category deleted!"></swal>
<swal #ApproveSuccess icon="success" title="Approved!"></swal>

<div class="dashboard_gradient" id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>Classified</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>Classified</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by">
        <div class="utf_sort_by_select_item">
          <select
            (change)="ChangeItemPerPageSize($event)"
            class="utf_chosen_select_single"
          >
            <option value="10">10 items per page</option>
            <option value="50">50 items per page</option>
            <option value="100">100 items per page</option>
            <option value="200">200 items per page</option>
          </select>
        </div>

        <div class="utf_sort_by_select_item ml-2">
          <select
            (change)="ChangePostStatus($event)"
            class="utf_chosen_select_single"
          >
            <option value="all">All</option>
            <option value="active">Active</option>
            <option value="pending">Pending</option>
          </select>
        </div>
      </div>

      <h4><i class="sl sl-icon-list"></i> Classified's List</h4>

      <div class="row mt-2">
        <div class="col-md-6 offset-md-6">
          <form [formGroup]="searchForm" (ngSubmit)="currentPageNumber = 1;fetchData()">
            <div class="input-group">
              <input type="text" formControlName="search" class="form-control" placeholder="Search here">
              <div class="input-group-append">
                <button style="width: 100px; font-size: 16px;" class="btn btn-danger" type="submit">Search</button>
              </div>
            </div>

          </form>
        </div>
      </div>



      <ul class="border-left">
        <li *ngIf="!products?.length">
          <div class="alert alert-danger">No data here!</div>
        </li>
        <ng-container
          *ngFor="
            let product of products
              | paginate
                : {
                    currentPage: currentPageNumber,
                    totalItems: totalVolume,
                    itemsPerPage: itemPerPage
                  }
          "
        >
          <li>
            <div class="row">
              <div class="col-lg-12 col-md-12 mb-3">
                <div class="utf_listing_item-container list-layout mb-0">
                  <a [routerLink]="['/classified/single', product.slug]" class="utf_listing_item">
                    <div class="utf_listing_item-image" *ngIf="product.images">
                      <img alt="" src="{{product.images[0]}}">
                    </div>
                    <div class="utf_listing_item-image" *ngIf="!product.images">
                      <img alt="" src="{{'assets/images/dumylogo.png'}}">
                    </div>
                    <div class="utf_listing_item_content">
                      <div class="utf_listing_item-inner">
                        <h3>{{product.name}} <span class="badge d-inline-block text-white" [class.badge-success]="product.status == 1" [class.badge-danger]="product.status != 1">{{ product.status == 1 ? 'Active': 'Pending'}}</span></h3>
                        <span><i class="sl sl-icon-location"></i> {{product.address}}</span>
                        <span><i class="sl sl-icon-directions"></i> {{product.city.name}}</span>
                        <span><i class="sl sl-icon-map"></i> {{product.state.name}}</span>
                        <span><i class="sl sl-icon-flag"></i> <span
                          *ngFor="let category of product.category"
                          class=" text-white badge badge-pill badge-dark d-inline-block mx-1">{{category.name}}</span></span>

                        <p>{{product.description.slice(0, 100)}}...</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a (click)="openApprovalAlert(product.id)"
                 *ngIf="product.status == 0"
                 class="button gray"
              ><i class="fa fa-pencil"></i> Approve</a
              >
              <a (click)="openDeleteAlert(product)" class="button gray"
              ><i class="fa fa-trash-o"></i> Delete</a
              >
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
      <pagination-controls
        (pageBoundsCorrection)="pageChange($event)"
        (pageChange)="pageChange($event)"
        class="pagination"
        nextLabel=""
        previousLabel=""
        screenReaderCurrentLabel=".."
      ></pagination-controls>
    </div>
  </div>
</div>
