<header id="header_part" style="z-index: 999 !important;" class="fixed fullwidth_block dashboard">
	<div id="header" class="not-sticky">
	  <div class="container max-width">
		<div class="utf_left_side">
		  <div id="logo">
			<a [routerLink]="[ '/' ]"><img src="assets/images/logo.png" alt="" /></a>
			<a [routerLink]="[ '/dashboard' ]" class="dashboard-logo"
			  ><img src="assets/images/logo2.png" alt=""
			/></a>
		  </div>
		  <div class="mmenu-trigger" style="opacity: 0 !important">

		  </div>
		  <nav id="navigation" class="style_one">
			<ul id="responsive">
        <li>
          <a routerLinkActive="current" [routerLink]="[ '/classified' ]">Classified</a>
        </li>
        <li>
          <a routerLinkActive="current" [routerLink]="['/directory']">Directory</a>
        </li>
        <li>
          <a routerLinkActive="current" [routerLink]="['/job']">Job</a>
        </li>
			</ul>
		  </nav>
		  <div class="clearfix"></div>
		</div>
		<div class="utf_right_side">
		  <div class="header_widget">
			<div class="utf_user_menu" #minipopup style="background-color: unset !important;">
			  <div class="utf_user_name text-capitalize" (click)="toggle(minipopup)">
				Hi,
				{{ profile.first_name }} {{ profile.last_name[0] }}
			  </div>
			  <ul>
				<li>
				  <a [routerLink]="[ '/dashboard' ]"
					><i class="sl sl-icon-layers"></i> Dashboard</a
				  >
				</li>
				<li>
				  <a
					><i class="sl sl-icon-user"></i> My Profile</a
				  >
				</li>
				<li>
				  <a [routerLink]="[ '/dashboard/classified' ]"
					><i class="sl sl-icon-list"></i> My Listing</a
				  >
				</li>
				<li>
				  <a (click)="logout()"
					><i class="sl sl-icon-power"></i> Logout</a
				  >
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </header>
