<div class="clearfix"></div>

<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Jobs</h2>
        <nav id="breadcrumbs">
          <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li>Jobs</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="listing_filter_block">
        <div class="col-md-6 col-xs-6">
          <div class="utf_layout_nav">
            <small *ngIf="currentCategory && currentCategory.name" class="text-capitalize text-danger"><span class="font-weight-bold">Category:</span> {{currentCategory.name}}</small>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="sort-by" *ngIf="childCategories && childCategories[0]">
            <div class="utf_sort_by_select_item sort_by_margin">
              <div  ngbDropdown
                    class="chosen-container chosen-container-single chosen-container-single-nosearch chosen-with-drop chosen-container-active"
                    style="width: 100%;" title="">
                <a class="chosen-single" id="dropdownBasic1" ngbDropdownToggle>
                  <span>Child Categories</span>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a class="text-capitalize" *ngFor="let category of childCategories" [routerLink]="[ '/job/category', category.slug, 'city', citySlug]" ngbDropdownItem>{{category.name}}</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 mb-3"  *ngFor="
			  let job of jobs
				| paginate
				  : {
					  currentPage: currentPageNumber,
					  totalItems: totalVolume,
					  itemsPerPage: itemPerPage
					}
			">
          <div class="utf_listing_item-container list-layout mb-0" [class.applied]="job.applied">
            <a class="utf_listing_item" [routerLink]="['/job/single', job.slug]">
              <div class="utf_listing_item-image" *ngIf="job.user.type.client_type == 'company' && job.user.profile.logo">
                <img alt="" src="{{job.user.profile.logo}}">
              </div>
              <div class="utf_listing_item-image" *ngIf="job.user.type.client_type == 'professional' && job.user.profile.image">
                <img alt="" src="{{job.user.profile.image}}">
              </div>
              <div class="utf_listing_item-image" *ngIf="!job.user.profile.logo && !job.user.profile.image">
                <img alt="" src="{{'assets/images/dumylogo.png'}}">
              </div>
              <div class="utf_listing_item_content">
                <div class="utf_listing_item-inner">
                  <h3>{{job.title}}</h3>
                  <span><i class="sl sl-icon-location"></i>Type: {{job.job_type}}</span>
                  <span *ngIf="job.min_salary"><i class="sl sl-icon-location"></i>Salary Range: {{job.min_salary}} - {{job.max_salary}}</span>
                  <span><i class="sl sl-icon-directions"></i> {{job.city.name}}</span>
                  <span><i class="sl sl-icon-map"></i> {{job.state.name}}</span>
                  <span><i class="sl sl-icon-flag"></i> <span class=" text-white badge badge-pill badge-dark d-inline-block mx-1" *ngFor="let category of job.category">{{category.name}}</span></span>

                  <p>{{job.description.slice(0, 100)}}...</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 mb-3 text-center alert alert-secondary" role="alert" *ngIf="!jobs[0]">
          No Data Here!
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row" *ngIf="jobs[0]">
        <div class="col-md-12">
          <div class="utf_pagination_container_part margin-top-20 margin-bottom-70">
            <pagination-controls
              (pageBoundsCorrection)="pageChange($event)"
              (pageChange)="pageChange($event)"
              class="pagination"
              nextLabel=""
              previousLabel=""
              screenReaderCurrentLabel=".."
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4 col-md-4">
      <div class="sidebar">
        <div class="utf_box_widget margin-bottom-75">
          <h3 (click)="collapseLocation.toggle()" style="cursor: pointer;"><i class="sl sl-icon-folder-alt"></i> City
            of {{state.name}}
          </h3>
          <ul #collapseLocation="ngbCollapse" [(ngbCollapse)]="isCollapsedLocation" class="utf_listing_detail_sidebar">
            <li *ngFor="let city of cities" class="text-capitalize"><i class="fa fa-angle-double-right"></i> <a
              [routerLink]="['/job/category', categorySlug, 'city', city.slug]">{{city.name}}</a></li>
          </ul>
        </div>
        <div class="utf_box_widget margin-top-35 margin-bottom-75">
          <h3 (click)="collapseCategory.toggle()" style="cursor: pointer;"><i class="sl sl-icon-folder-alt"></i>
            Categories</h3>
          <ul #collapseCategory="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="utf_listing_detail_sidebar">
            <li *ngFor="let category of parentCategories" class="text-capitalize"><i
              class="fa fa-angle-double-right"></i> <a
              [routerLink]="['/job/category', category.slug, 'city', citySlug]">{{category.name}}</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
