<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Dashboard</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Dashboard</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row" *ngIf="TypeOfUser == 'admin'">
  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-1">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.directory.published_count}}</h4>
        <span>Published Directory</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Map2"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-2">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.directory.pending_count}}</h4>
        <span>Pending Directory</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Add-UserStar"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6" >
    <div class="utf_dashboard_stat color-3">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.classified.published_count}}</h4>
        <span>Published Classified</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Align-JustifyRight"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-4">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.classified.pending_count}}</h4>
        <span>Pending Classified</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Diploma"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-5">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.job.published_count}}</h4>
        <span>Published Job</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Eye-Visible"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-6">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.job.pending_count}}</h4>
        <span>Pending Job</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Star"></i>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="TypeOfUser == 'user'">
  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-1">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.classified.published_count}}</h4>
        <span>Published Classified</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Map2"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-2">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.classified.pending_count}}</h4>
        <span>Pending Classified</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Add-UserStar"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6" >
    <div class="utf_dashboard_stat color-3">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.job.published_count}}</h4>
        <span>Published Job</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Align-JustifyRight"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-4">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.job.pending_count}}</h4>
        <span>Pending Job</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Diploma"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-5">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.job.applied_job_count}}</h4>
        <span>Applied Job</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Eye-Visible"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-6">
    <div class="utf_dashboard_stat color-6">
      <div class="utf_dashboard_stat_content">
        <h4>{{dashboardData.job.all_applicants_count}}</h4>
        <span>Applicants</span>
      </div>
      <div class="utf_dashboard_stat_icon">
        <i class="im im-icon-Star"></i>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="TypeOfUser == 'admin'">
  <div class="col-lg-6 col-md-12" *ngIf="dashboardData.directory.last_published">
    <div class="utf_dashboard_list_box with-icons margin-top-20">
      <h4>Recent Published Directories</h4>
      <ul>
        <li *ngFor="let directory of dashboardData.directory.last_published">
          <i class="utf_list_box_icon sl sl-icon-layers"></i> <strong>{{directory.title}}</strong>
          <a [routerLink]="['/directory/single', directory.slug]" class="close-list-item"><i class="fa fa-eye"></i></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="utf_dashboard_list_box invoices with-icons margin-top-20">
      <h4>Latest Job Listed!</h4>
      <ul>
        <li *ngFor="let job of dashboardData.job.last_published">
          <i class="utf_list_box_icon sl sl-icon-doc"></i>
          <strong>{{job.title}}</strong>
          <ul>
            <li><span>Post Date:-</span> {{job.created_at | amDateFormat:'LL'}}</li>
          </ul>
          <div class="buttons-to-right">
            <a [routerLink]="['/job/single', job.slug]" class="button gray"
              ><i class="sl sl-icon-eye"></i> View</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 mb-4" *ngIf="dashboardData.classified.last_published">
    <div class="utf_dashboard_list_box table-responsive recent_booking">
      <h4>Recent Added Classified!</h4>
      <div class="dashboard-list-box table-responsive invoices with-icons">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Name</th>
              <th>Condition</th>
              <th>Publish Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let classified of dashboardData.classified.last_published; let i = index">
              <td>{{i+1}}</td>
              <td>
                <img
                  alt=""
                  class="img-fluid rounded-circle shadow-lg"
                  src="{{classified.images ? classified.images[0] : 'assets/images/dumylogo.png'}}"
                  width="50"
                  height="50"
                />
              </td>
              <td><a class="font-weight-bold text-primary" [routerLink]="['/classified/single', classified.slug]">{{classified.name}}</a></td>
              <td>{{classified.condition}}</td>
              <td>{{classified.created_at | amDateFormat:'LL'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="TypeOfUser == 'user'">
  <div class="col-lg-6 col-md-12" *ngIf="dashboardData.job.applied_jobs">
    <div class="utf_dashboard_list_box invoices with-icons margin-top-20">
      <h4>Last Applied Jobs</h4>
      <ul>
        <li *ngFor="let application of dashboardData.job.applied_jobs">
          <i class="utf_list_box_icon sl sl-icon-doc"></i>
          <strong>{{application.job.title}}</strong>
          <ul>
            <li><span>Applied Data:-</span> {{application.created_at | amDateFormat:'LL'}}</li>
          </ul>
          <div class="buttons-to-right">
            <a [routerLink]="['/job/single', application.job.slug]" class="button gray"
            ><i class="sl sl-icon-eye"></i> View</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="utf_dashboard_list_box invoices with-icons margin-top-20">
      <h4>Latest Job Listed!</h4>
      <ul>
        <li *ngFor="let job of dashboardData.job.last_published">
          <i class="utf_list_box_icon sl sl-icon-doc"></i>
          <strong>{{job.title}}</strong>
          <ul>
            <li><span>Post Date:-</span> {{job.created_at | amDateFormat:'LL'}}</li>
          </ul>
          <div class="buttons-to-right">
            <a [routerLink]="['/job/single', job.slug]" class="button gray"
            ><i class="sl sl-icon-eye"></i> View</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 mb-4" *ngIf="dashboardData.classified.last_published">
    <div class="utf_dashboard_list_box table-responsive recent_booking">
      <h4>Recent Added Classified!</h4>
      <div class="dashboard-list-box table-responsive invoices with-icons">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Condition</th>
            <th>Publish Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let classified of dashboardData.classified.last_published; let i = index">
            <td>{{i+1}}</td>
            <td>
              <img
                alt=""
                class="img-fluid rounded-circle shadow-lg"
                src="{{classified.images ? classified.images[0] : 'assets/images/dumylogo.png'}}"
                width="50"
                height="50"
              />
            </td>
            <td><a class="font-weight-bold text-primary" [routerLink]="['/classified/single', classified.slug]">{{classified.name}}</a></td>
            <td>{{classified.condition}}</td>
            <td>{{classified.created_at | amDateFormat:'LL'}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
