<a (click)="toggleMobileMenu(menu)" class="utf_dashboard_nav_responsive"
><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a
>
<div #menu class="utf_dashboard_navigation js-scrollbar">
  <div class="utf_dashboard_navigation_inner_block">
    <ul>
      <li>
        <a [routerLinkActiveOptions]="{exact:
            true}" [routerLink]="[ '/dashboard' ]" routerLinkActive="active"
        ><i class="sl sl-icon-layers"></i> Dashboard</a
        >
      </li>

      <li *ngIf="isAdmin" #classified_menu (click)="toggleMobileMenu(classified_menu)">
        <a><i class="sl sl-icon-layers"></i> Classified</a>
        <ul>
          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/brands' ]"
            ><i class="sl sl-icon-envelope-open"></i> Brands</a
            >
          </li>
          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/classified_category' ]"
            ><i class="sl sl-icon-envelope-open"></i> Category</a
            >
          </li>

          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/classified_item' ]"
            ><i class="sl sl-icon-envelope-open"></i> Item</a
            >
          </li>

        </ul>
      </li>

      <li *ngIf="isAdmin" #location_menu (click)="toggleMobileMenu(location_menu)">
        <a><i class="sl sl-icon-layers"></i> Location</a>
        <ul>
          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/states' ]"
            ><i class="sl sl-icon-envelope-open"></i> States</a
            >
          </li>

          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/cities' ]"
            ><i class="sl sl-icon-envelope-open"></i> Cities</a
            >
          </li>
        </ul>
      </li>

      <li *ngIf="isAdmin" #directory_menu (click)="toggleMobileMenu(directory_menu)">
        <a><i class="sl sl-icon-layers"></i> Directory</a>
        <ul>
          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/directory_category' ]"
            ><i class="sl sl-icon-envelope-open"></i> Category</a
            >
          </li>
          <li *ngIf="isAdmin">
            <a [routerLink]="[ '/dashboard/admin-dashboard/directory_item' ]"
            ><i class="sl sl-icon-envelope-open"></i> Item</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a (click)="logout()"><i class="sl sl-icon-power"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>
