<a  (click)="toggleMobileMenu(menu)" class="utf_dashboard_nav_responsive"
    ><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a
  >
  <div class="utf_dashboard_navigation js-scrollbar" #menu>
    <div class="utf_dashboard_navigation_inner_block">
      <ul>
        <li class="active">
          <a [routerLink]="[ '/dashboard' ]"
            ><i class="sl sl-icon-layers"></i> Dashboard</a
          >
        </li>
        <li (click)="toggleMobileMenu(submenu1)" #submenu1>
          <a ><i class="sl sl-icon-layers"></i> My Listings</a>
          <ul>
            <li>
              <a
                >Active <span class="nav-tag green">10</span></a
              >
            </li>
            <li>
              <a 
                >Pending <span class="nav-tag yellow">4</span></a
              >
            </li>
            <li>
              <a 
                >Expired <span class="nav-tag red">8</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="[ '/dashboard/admin-dashboard/states' ]"
            ><i class="sl sl-icon-envelope-open"></i> States</a
          >
        </li>
        <li>
          <a (click)="logout()"><i class="sl sl-icon-power"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>