<div id="titlebar" class="dashboard_gradient">
	<div class="row">
	  <div class="col-md-12">
		<h2>Company Details</h2>
		<nav id="breadcrumbs">
		  <ul>
			<li><a [routerLink]="['/']">Home</a></li>
			<li><a [routerLink]="['/dashboard']">Dashboard</a></li>
			<li>Company</li>
		  </ul>
		</nav>

	  </div>
	</div>
  </div>

  <div class="row">
	<div class="col-lg-12 col-md-12">
	  <div class="utf_dashboard_list_box margin-top-0">
		<h4 class="gray"><i class="im im-icon-Office"></i> Company Details</h4>
		<div class="utf_dashboard_list_box-static">
			<div class="edit-profile-photo company_profile_image"> <img src="{{companyDetail.logo}}" alt="">
			  <div *ngIf="!editMode" class="change-photo-btn">
          <div  class="photoUpload"> <span><i class="fa fa-upload"></i> Upload Photo</span>
            <input type="file" class="upload">
          </div>
			  </div>
			</div>

			<form [formGroup]="formData" class="my-profile">

			  <div class="row with-forms">
				  <div class="col-md-12">
					  <label>Company Name : </label>
					  <input type="text" placeholder="Company Name" class="input-text" formControlName="name" [attr.disabled]="editMode ? true : null">
				  </div>
          <div class="col-md-12">
            <label>Description :</label>
            <textarea formControlName="description" placeholder="Company description..." cols="30" rows="10" [attr.disabled]="editMode ? true : null"></textarea>
          </div>
          <div class="col-md-12">
            <label>Company Website :</label>
            <input type="text" class="input-text" formControlName="url" [attr.disabled]="editMode ? true : null" placeholder="Company url...">
          </div>
				  <div class="col-md-12">
					  <label>Category :</label>
            <select2
              [data]="categoryDataForFormSelector"
              formControlName="category"
              placeholder="Select categories"
              [multiple]="true"
              [disabled]="editMode"

            >
            </select2>
				  </div>

          <div class="col-md-6">
            <label>State :</label>
            <select2
              [data]="stateDataForFormSelector"
              formControlName="state"
              placeholder="Select state"
              [multiple]="false"
              (update)="getCity($event)"
              [disabled]="editMode"

            >
            </select2>
          </div>
          <div class="col-md-6">
            <label>City :</label>
            <select2
              [data]="cityDataForFormSelector"
              formControlName="city"
              placeholder="Select City"
              [multiple]="false"
              [disabled]="editMode"

            >
            </select2>
          </div>

				  <div class="col-md-12">
					  <label>Company Address :</label>
					  <textarea formControlName="address" placeholder="Company address...." cols="15" rows="3" [attr.disabled]="editMode ? true : null"></textarea>
				  </div>

				</div>
				<button class="button preview btn_center_item margin-top-15">Save Changes</button>
			</form>

		  </div>
	  </div>

	</div>
  </div>
