/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800');

@import '~ngx-toastr/toastr';


.pagination /deep/ .ngx-pagination .current {
  background: rgb(250, 250, 250);
}

.ngx-pagination .current {
  color: rgb(2, 0, 0) !important;
}


.child_counter {
  font-size: 10px;
}

.child_counter::before {
  content: '';
  border: 1px solid red;
  height: 11px;
  width: 11px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}

app-read-more small a{
  color: red !important;
  font-size: 14px !important;
  font-style: italic !important;
  text-decoration: underline !important;
}

.company-profile-category{
  background: red !important;
  margin: 5px !important;
  border-radius: 15px !important;
  font-weight: bold !important;
  color: white !important;
  text-transform: capitalize;
}

.company-profile-category[aria-selected='true']{
  background: indianred !important;
  color: black !important;
}

.select2-selection__choice{
  background: red !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  color: white !important;
  text-transform: capitalize;
}

.select2-selection--single{
  height: 49px !important;
  border: 1px solid #dbdbdb !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.03) !important;
}

.max-width{
  max-width: unset !important;
}

@media (min-width: 320px){
  .max-width{
    max-width: unset !important;
  }
}


pre{
  font-family: 'Nunito', sans-serif;
  text-transform: none;
  white-space: pre-wrap;
}

.applied{
  background: #fff2f2 !important;
}

@media only screen and (max-width: 1024px){

  #responsive {
    display: flex !important;
  }

}



.utf_listing_item img {
  object-fit: unset !important;
  height: unset !important;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .utf_listing_item img {
    position: unset !important;
    top: unset !important;
    transform: unset !important;
  }
}


.theme-bg{
  background: #ff2222;
}





