<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New City</h4>
    <button
      type="button"
      class="close text-danger"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="loading">
      <ngb-progressbar
        type="primary"
        [value]="100"
        [striped]="true"
        [animated]="true"
      >Loading...</ngb-progressbar
      >
    </p>
    <form [formGroup]="classifiedCategoryCreateForm" (ngSubmit)="create_new_category()">
      <div class="form-group">
        <label for="category_name_new">Name :</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="category_name_new"
          placeholder="Enter name"
        />
        <small *ngIf="categoryCreateErrors.name" class="form-text text-danger">{{categoryCreateErrors.name}}</small>
      </div>

      <div class="form-group">
        <label>Description :</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <small *ngIf="categoryCreateErrors.description" class="form-text text-danger">{{categoryCreateErrors.description}}</small>
      </div>
      <div class="form-group">
        <label>Parent Category : (optional)</label>
        <select2 [data]="parentCategory"
                 (update)="update($event)"
                  placeholder="Select Parent Category">

        </select2>
      </div>

      <div class="form-group">
        <label>Sub Parent Category : (optional)</label>
        <select2 [data]="subParentCategory"
                 (update)="updateSubParent($event)"
                 placeholder="Select Parent Category">

        </select2>
      </div>
      <button type="submit" class="btn-lg btn-primary">Submit</button>
    </form>
  </div>
</ng-template>

<!--<ng-template #delete_city let-g="dismiss">-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title text-danger" id="modal-basic-title">-->
<!--      Delete State ?-->
<!--    </h4>-->
<!--    <button-->
<!--      type="button"-->
<!--      class="close text-danger"-->
<!--      aria-label="Close"-->
<!--      (click)="g('Cross click')"-->
<!--    >-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <p *ngIf="loading">-->
<!--      <ngb-progressbar-->
<!--        type="danger"-->
<!--        [value]="100"-->
<!--        [striped]="true"-->
<!--        [animated]="true"-->
<!--      >Deleting...</ngb-progressbar-->
<!--      >-->
<!--    </p>-->
<!--    <p class="text-info">Are you sure want to delete {{selected_item.name}} city of {{selected_item.state.name}} ?</p>-->

<!--    <button type="button" class="btn-lg btn-danger" (click)="delete_city_function()">Delete</button>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<ng-template #update_city let-e="dismiss">-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title" id="modal-basic-title">Update State</h4>-->
<!--    <button-->
<!--      type="button"-->
<!--      class="close text-danger"-->
<!--      aria-label="Close"-->
<!--      (click)="e('Cross click')"-->
<!--    >-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <p *ngIf="loading">-->
<!--      <ngb-progressbar-->
<!--        type="primary"-->
<!--        [value]="100"-->
<!--        [striped]="true"-->
<!--        [animated]="true"-->
<!--      >Loading...</ngb-progressbar-->
<!--      >-->
<!--    </p>-->
<!--    <form [formGroup]="updateForm" (ngSubmit)="update_city_()">-->
<!--      <div class="form-group">-->
<!--        <label for="update_city_name">Name :</label>-->
<!--        <input-->
<!--          formControlName="name"-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="update_city_name"-->
<!--          placeholder="Enter name"-->
<!--        />-->
<!--        <small *ngIf="update_city_errors.name" class="form-text text-danger">{{update_city_errors.name}}</small>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="state_name">State :</label>-->
<!--        <select-->
<!--          placeholder="Select State"-->
<!--          formControlName="state"-->
<!--          id="state_name"-->
<!--          class="form-control"-->
<!--        >-->
<!--          <ng-container *ngFor="let state of states">-->
<!--            <ng-container *ngIf="selected_item">-->

<!--              <ng-container *ngIf="state.id == selected_item.state.id; else elseTemplate">-->
<!--                <option  value="{{ state.id }}" attr.selected>-->
<!--                  {{ state.name }}-->
<!--                </option>-->
<!--              </ng-container>-->
<!--              <ng-template #elseTemplate>-->
<!--                <option  value="{{ state.id }}">-->
<!--                  {{ state.name }}-->
<!--                </option>-->
<!--              </ng-template>-->
<!--            </ng-container>-->
<!--          </ng-container>-->


<!--        </select>-->
<!--        <small *ngIf="update_city_errors.state" class="form-text text-danger">{{update_city_errors.state}}</small>-->
<!--      </div>-->
<!--      <button type="submit" class="btn-lg btn-primary">Submit</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</ng-template>-->

<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>All Cities</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>City</li>
        </ul>
      </nav>

      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
        Add New State
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by">
        <div class="utf_sort_by_select_item">
          <select
            data-placeholder="Default Listing"
            class="utf_chosen_select_single"
          >
            <option>Default Listing</option>
            <option>Active Listing</option>
            <option>Pending Listing</option>
            <option>Expired Listing</option>
          </select>
        </div>
      </div>
      <h4><i class="sl sl-icon-list"></i> My Listings</h4>
      <ul>
        <li *ngFor="let city of cities; let i = index">
          <div class="utf_list_box_listing_item">
            <div class="utf_list_box_listing_item_content">
              <div class="inner">
                <h3>{{city.name}}</h3>
                <span>Slug : {{city.slug}}</span>
                <span>State : {{city.state.name}}</span>
              </div>
            </div>
          </div>
          <div class="buttons-to-right">
            <a (click)="openUPdateModal(update_city, i)" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
            <a (click)="openDeleteModal(delete_city, i)"  class="button gray"><i class="fa fa-trash-o"></i> Delete</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
      <nav class="pagination">
        <ul>
          <li>
            <a href="#"><i class="sl sl-icon-arrow-left"></i></a>
          </li>
          <li><a href="#" class="current-page">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li>
            <a href="#"><i class="sl sl-icon-arrow-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
