<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Category</h4>
    <button
      type="button"
      class="close text-danger"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="loading">
      <ngb-progressbar
        type="primary"
        [value]="100"
        [striped]="true"
        [animated]="true"
        >Loading...</ngb-progressbar
      >
    </p>
    <form
      [formGroup]="classifiedCategoryCreateForm"
      (ngSubmit)="create_new_category()"
    >
      <div class="form-group">
        <label for="category_name_new">Name :</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="category_name_new"
          placeholder="Enter name"
        />
        <small
          *ngIf="createNewCategoryErrors.name"
          class="form-text text-danger"
          >{{ createNewCategoryErrors.name }}</small
        >
      </div>

      <div class="form-group">
        <label>Description :</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <small
          *ngIf="createNewCategoryErrors.description"
          class="form-text text-danger"
          >{{ createNewCategoryErrors.description }}</small
        >
      </div>

      <div class="form-group">
        <label>Icon : (optional)</label>
        <input
          accept="image/*"
          type="file"
          class="form-control-file"
          (change)="patchCreateFormImageValue($event)"
          style="line-height: unset; padding: 0; height: 100%"
        />
        <small
          *ngIf="createNewCategoryErrors.icon"
          class="form-text text-danger"
          >{{ createNewCategoryErrors.icon }}</small
        >
      </div>
      <div class="form-group">
        <label>Parent Category : (optional)</label>
        <select2
          [data]="parentCategory"
          formControlName="parent"
          (update)="update($event)"
          placeholder="Select Parent Category"
        >
        </select2>
      </div>

      <div class="form-group">
        <label>Sub Parent Category : (optional)</label>
        <select2
          [data]="subParentCategory"
          formControlName="sub"
          placeholder="Select Parent Category"
        >
        </select2>
      </div>
      <button type="submit" class="btn-lg btn-primary">Submit</button>
      <button type="reset" class="btn-lg btn-warning ml-3">Reset</button>
    </form>
  </div>
</ng-template>

<ng-template #delete_category let-g="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">
      Delete Category ?
    </h4>
    <button
      type="button"
      class="close text-danger"
      aria-label="Close"
      (click)="g('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="loading">
      <ngb-progressbar
        type="danger"
        [value]="100"
        [striped]="true"
        [animated]="true"
        >Deleting...</ngb-progressbar
      >
    </p>
    <p class="text-info">
      Are you sure want to delete {{ selectedItem.name }}?
    </p>

    <button
      type="button"
      class="btn-lg btn-danger"
      (click)="deleteCategoryFunction()"
    >
      Delete
    </button>
  </div>
</ng-template>

<ng-template #editModal let-e="dismiss">
 <div class="modal-header">
   <h4 class="modal-title" id="modal-basic-title">Update State</h4>
   <button
     type="button"
     class="close text-danger"
     aria-label="Close"
     (click)="e('Cross click')"
   >
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   <p *ngIf="loading">
     <ngb-progressbar
       type="primary"
       [value]="100"
       [striped]="true"
       [animated]="true"
     >Loading...</ngb-progressbar
     >
   </p>
   <form [formGroup]="updateForm">
     <div class="form-group">
       <label for="update_city_name">Name :</label>
       <input
         formControlName="name"
         type="text"
         class="form-control"
         id="update_city_name"
         placeholder="Enter name"
       />
       <small class="form-text text-danger"></small>
     </div>

     <button type="submit" class="btn-lg btn-primary">Submit</button>
   </form>
 </div>
</ng-template>

<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>All Cities</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>City</li>
        </ul>
      </nav>

      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
        Add New Category
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by"></div>
      <h4><i class="sl sl-icon-list"></i> Category List</h4>
      <ul class="border-left">
        <ng-container *ngFor="let category of categoryTree">
          <li class="border-left" style="border-radius: 0px 0px 0px 11px;box-shadow: #130f0f7d -5px 1px 0px 0px;">
            <div class="utf_list_box_listing_item">
              <div class="utf_list_box_listing_item-img category_image">
                <a>
                  <ng-container *ngIf="category.icon; else elseTemplate">
                    <img src="{{ category.icon }}" alt="" />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img src="assets/images/dumylogo.png" alt="" />
                  </ng-template>
                </a>
              </div>
              <div class="utf_list_box_listing_item_content">
                <div class="inner">
                  <h3>{{ category.name }}</h3>
                  <span>Slug : {{ category.slug }}</span>
                  <span>{{ category.description }}</span>
                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a  (click)="openCategoryEditModal(editModal, category)" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
              <a (click)="openDeleteModal(delete_category , category)" class="button gray"><i class="fa fa-trash-o"></i> Delete</a>
            </div>
          </li>
          <ng-container *ngIf="category.children">
            <ng-container *ngFor="let childCategory of category.children">
              <li
                class="ml-4 border-left"
                style="border-radius: 0px 0px 0px 13px;box-shadow: #502e2e7d -5px 1px 0px 0px;"
              >
                <div class="utf_list_box_listing_item">
                  <div class="utf_list_box_listing_item-img category_image">
                    <a>
                      <ng-container
                        *ngIf="childCategory.icon; else elseTemplate"
                      >
                        <img src="{{ childCategory.icon }}" alt="" />
                      </ng-container>
                      <ng-template #elseTemplate>
                        <img src="assets/images/dumylogo.png" alt="" />
                      </ng-template>
                    </a>
                  </div>
                  <div class="utf_list_box_listing_item_content">
                    <div class="inner">
                      <h3>{{ childCategory.name }}</h3>
                      <span>Slug : {{ childCategory.slug }}</span>
                      <span>{{ childCategory.description }}</span>
                    </div>
                  </div>
                </div>
                <div class="buttons-to-right">
                  <a (click)="openCategoryEditModal(editModal,  childCategory)" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
                  <a (click)="openDeleteModal(delete_category , childCategory)" class="button gray"
                    ><i class="fa fa-trash-o"></i> Delete</a
                  >
                </div>
              </li>
              <ng-container *ngIf="childCategory.children">
                <ng-container
                  *ngFor="let subChildCategory of childCategory.children"
                >
                  <li class="ml-5 border-left" style="box-shadow: #9b43437d -5px 1px 0px 0px;border-radius: 0px 0px 0px 13px">
                    <div class="utf_list_box_listing_item">
                      <div class="utf_list_box_listing_item-img category_image">
                        <a>
                          <ng-container
                            *ngIf="subChildCategory.icon; else elseTemplate"
                          >
                            <img src="{{ subChildCategory.icon }}" alt="" />
                          </ng-container>
                          <ng-template #elseTemplate>
                            <img src="assets/images/dumylogo.png" alt="" />
                          </ng-template>
                        </a>
                      </div>
                      <div class="utf_list_box_listing_item_content">
                        <div class="inner">
                          <h3>{{ subChildCategory.name }}</h3>
                          <span>Slug : {{ subChildCategory.slug }}</span>
                          <span>{{ subChildCategory.description }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="buttons-to-right">
                      <a (click)="openCategoryEditModal(editModal, subChildCategory)" class="button gray"
                        ><i class="fa fa-pencil"></i> Edit</a
                      >
                      <a (click)="openDeleteModal(delete_category , subChildCategory)" class="button gray"
                        ><i class="fa fa-trash-o"></i> Delete</a
                      >
                    </div>
                  </li>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix"></div>
    
  </div>
</div>
