<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header p-4">
    <h4 class="modal-title" id="modal-basic-title">New Category</h4>
    <button
      type="button"
      class="close text-danger"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <form
      [formGroup]="classifiedCategoryCreateForm"
      (ngSubmit)="create_new_category()"
    >
      <div class="form-group">
        <label for="category_name_new">Name :</label>
        <input
          formControlName="name"
          type="text"
          class="form-control mb-0"
          id="category_name_new"
          placeholder="Enter name"
        />
        <small
          *ngIf="createNewCategoryErrors.name"
          class="form-text text-danger"
          >{{ createNewCategoryErrors.name }}</small
        >
      </div>

      <div class="form-group">
        <label>Description :</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <small
          *ngIf="createNewCategoryErrors.description"
          class="form-text text-danger"
          >{{ createNewCategoryErrors.description }}</small
        >
      </div>

      <div class="form-group">
        <label>Icon : (optional)</label>
        <input
          accept="image/*"
          type="file"
          class="form-control-file mb-0"
          (change)="patchCreateFormImageValue($event)"
          style="line-height: unset; padding: 0; height: 100%"
        />
        <small
          *ngIf="createNewCategoryErrors.icon"
          class="form-text text-danger"
          >{{ createNewCategoryErrors.icon }}</small
        >
      </div>
      <div class="form-group">
        <label>Parent Category : (optional)</label>
        <select2
          [data]="parentCategory"
          formControlName="parent"
          placeholder="Select Parent Category"
        >
        </select2>
        <small
          *ngIf="createNewCategoryErrors.parent"
          class="form-text text-danger"
        >{{ createNewCategoryErrors.parent }}</small
        >
      </div>

      <button type="submit" class="btn-lg btn-danger btn-block" [disabled]="loading">
        <ng-container *ngIf="loading; else submitText">
          <div class="spinner-border" role="status">

          </div>
        </ng-container>
        <ng-template #submitText>Submit</ng-template>
      </button>
      <button type="reset" class="btn-lg btn-warning btn-block">Reset</button>
    </form>
  </div>
</ng-template>



<swal
  #deleteSwal
  text="This cannot be undone"
  icon="question"
  title=""
  [showCancelButton]="true"
  (confirm)="deleteCategory()"
  (cancel)="cancelDelete()"
  >
</swal>

<swal
  #deleteSuccess
  title="Category deleted ?"
  icon="success"
  >
</swal>

<swal
  #makeFeaturedSwal
  text="This category will featured"
  icon="question"
  title="Make Featured!"
  [showCancelButton]="true"
  (confirm)="makeFeaturedCategory()"
>
</swal>

<swal
  #removeFeaturedSwal
  text="This category will remove from featured"
  icon="question"
  title="Remove Featured!"
  [showCancelButton]="true"
  (confirm)="removeFeaturedCategory()"
>
</swal>

<ng-template #editModal let-e="dismiss">
 <div class="modal-header p-4">
   <h4 class="modal-title" id="modal-basic-title">Update State</h4>
   <button
     type="button"
     class="close text-danger"
     aria-label="Close"
     (click)="e('Cross click')"
   >
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body p-4">
   <form [formGroup]="updateForm" (ngSubmit)="updateCategory()">
    <div class="form-group">
      <label for="category_name_new">Name :</label>
      <input
        formControlName="name"
        type="text"
        class="form-control mb-0"
        id="category_name_new"
        placeholder="Enter name"
      />
      <small
        *ngIf="updateCategoryErrors.name"
        class="form-text text-danger"
        >{{ updateCategoryErrors.name }}</small
      >
    </div>

    <div class="form-group">
      <label>Description :</label>
      <textarea class="form-control" formControlName="description"></textarea>
      <small
        *ngIf="updateCategoryErrors.description"
        class="form-text text-danger"
        >{{ updateCategoryErrors.description }}</small
      >
    </div>

    <div class="row">
      <div *ngIf="selectedItem.icon" class="col-md-4">
        <img src="{{selectedItem.icon}}" alt="" class="border rounded" style="max-width: 63%; height: auto; padding:5px">
      </div>
      <div class="col-md-8">
        <div class="form-group">

          <label>Icon : (optional)</label>
          <input
            accept="image/*"
            type="file"
            class="form-control-file mb-0"
            (change)="patchUpdateImageValue($event)"
            style="line-height: unset; padding: 0; height: 100%"
          />
          <small
            *ngIf="updateCategoryErrors.icon"
            class="form-text text-danger"
            >{{ updateCategoryErrors.icon }}</small
          >
        </div>
      </div>

    </div>


    <div class="form-group">
      <label>Parent Category : (optional)</label>
      <select2
        [data]="parentCategory"
        formControlName="parent"
        placeholder="Select Parent Category"
      >
      </select2>
      <small
        *ngIf="updateCategoryErrors.parent"
        class="form-text text-danger"
      >{{ updateCategoryErrors.parent }}</small
      >
    </div>

    <button type="submit" class="btn-lg btn-danger btn-block" [disabled]="loading">
      <ng-container *ngIf="loading; else submitText">
        <div class="spinner-border" role="status">

        </div>
      </ng-container>
      <ng-template #submitText>Update</ng-template>
    </button>
   </form>
 </div>
</ng-template>

<div id="titlebar" class="dashboard_gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Classified Category</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>Classified Category</li>
        </ul>
      </nav>

      <button class="button" (click)="open(content)">
        Add New Category
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by">
          <div class="utf_sort_by_select_item">
            <select (change)="ChangeItemPerPageSize($event)"
              class="utf_chosen_select_single"
            >
              <option value="10">10 items per page</option>
              <option value="50">50 items per page</option>
              <option value="100">100 items per page</option>
              <option value="200">200 items per page</option>
            </select>
          </div>
      </div>
      <h4><i class="sl sl-icon-list"></i> Category List</h4>
      <ul class="border-left">
        <ng-container *ngFor="let category of categories | paginate: { currentPage: currentPageNumber, totalItems: totalVolume, itemsPerPage: itemPerPage}">
          <li>
            <div class="utf_list_box_listing_item">
              <div class="utf_list_box_listing_item-img category_image">
                <a>
                  <ng-container *ngIf="category.icon; else elseTemplate">
                    <img src="{{ category.icon }}" alt="" />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img src="assets/images/dumylogo.png" alt="" />
                  </ng-template>
                </a>
              </div>
              <div class="utf_list_box_listing_item_content">
                <div class="inner">
                  <h3 class="text-capitalize">{{ category.name }}</h3>
                  <span>Slug : {{ category.slug }}</span>
                  <span>{{ category.description }}</span>
                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a [routerLink]="[ '/dashboard/admin-dashboard/classified_category/child', category.id ]"  *ngIf="category.children" class="button gray"><i class="fa fa-eye"></i> View Child</a>
              <a  *ngIf="category.highlight == 0" class="button gray" (click)="openMakeFeaturedSwal(category.id)"><i class="fa fa-check"></i> Make Featured</a>
              <a  *ngIf="category.highlight == 1" class="button gray" (click)="openRemoveFeaturedSwal(category.id)"><i class="fa fa-times"></i> Remove Featured</a>
              <a  (click)="openCategoryEditModal(editModal, category)" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
              <a (click)="openDeleteAlert(category)" class="button gray"><i class="fa fa-trash-o"></i> Delete</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
      <pagination-controls (pageBoundsCorrection)="pageChange( $event)" screenReaderCurrentLabel=".." nextLabel="" previousLabel="" class="pagination" (pageChange)="pageChange( $event)"></pagination-controls>
    </div>

  </div>
</div>
