<div class="holding_container bg-dark" >
  <div class="container-login">
    <div class="small_dialog_header for-mob" @fade_in>
      <h3>Register New</h3>
    </div>
    <div class="utf_signin_form style_one padding-custom" @fade_in>
      <ul class="utf_tabs_nav">
        <li>
          <a [routerLink]="['/login']">Log in</a>
        </li>
        <li class="active">
          <a>Register</a>
        </li>
      </ul>
      <div class="tab_container alt">
        <div class="tab_content">
          <form
            [formGroup]="registerForm"
            class="register"
            (ngSubmit)="submitRegister()"
          >
            <p class="utf_row_form utf_form_wide_block">
              <label for="first_name">
				<input
					[class.error]='!!error.first_name'
                  type="text"
                  class="input-text"
                  id="first_name"
                  formControlName="first_name"
                  placeholder="First Name"
				/>
				<span @slide_in_up class="error-feedback" *ngIf="error.first_name">{{error.first_name}}</span>
			  </label>
			  
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="last_name">
				<input
					[class.error]="!!error.last_name"
                  type="text"
                  class="input-text"
                  id="last_name"
                  formControlName="last_name"
                  placeholder="Last Name"
				/>
				<span @slide_in_up class="error-feedback" *ngIf="error.last_name">{{error.last_name}}</span>
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="email2">
				<input
					[class.error]="!!error.email"
                  type="text"
                  class="input-text"
                  id="email2"
                  formControlName="email"
                  placeholder="Email"
				/>
				<span @slide_in_up class="error-feedback" *ngIf="error.email">{{error.email}}</span>
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="phone">
				<input
					[class.error]="!!error.phone"
                  type="text"
                  class="input-text"
                  id="phone"
                  formControlName="phone"
                  placeholder="Phone"
				/>
				<span @slide_in_up class="error-feedback" *ngIf="error.phone">{{error.phone}}</span>
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="gender">
                <select formControlName="gender" value='Select Gender' id="gender" [class.error]='!!error.gender'>
                  <option #selectedGender disabled>Select Gender</option>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                  <option value="o">other</option>
				</select>
				<span @slide_in_up class="error-feedback" *ngIf="error.gender">{{error.gender}}</span>
              </label>
            </p>

            <p class="utf_row_form utf_form_wide_block">
              <label for="username">
				<input
				[class.error]="!!error.username"
                  type="text"
                  class="input-text"
                  id="username"
                  formControlName="username"
                  placeholder="username"
				/>
				<span @slide_in_up class="error-feedback" *ngIf="error.username">{{error.username}}</span>
              </label>
            </p>
            <p class="utf_row_form utf_form_wide_block">
              <label for="password1">
				<input
				[class.error]="!!error.password"
                  class="input-text"
                  type="password"
                  formControlName="password"
                  id="password1"
                  placeholder="Password"
				/>
				<span @slide_in_up class="error-feedback" *ngIf="error.password">{{error.password}}</span>
              </label>
            </p>
            <input
              type="submit"
              class="button border fw margin-top-10"
			  name="register"
			  [value]="loading"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
