<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header p-4">
    <h4 class="modal-title" id="modal-basic-title">New Directory</h4>
    <button
      (click)="d('Cross click')"
      aria-label="Close"
      class="close text-danger"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <form
      (ngSubmit)="create_new_directory()"
      [formGroup]="directoryCreateForm"
    >
      <div class="form-group">
        <label for="directory_title_new">Title :</label>
        <input
          class="form-control mb-0"
          formControlName="title"
          id="directory_title_new"
          placeholder="Enter name"
          type="text"
        />
        <small
          *ngIf="createNewDirectoryErrors.title"
          class="form-text text-danger"
        >{{ createNewDirectoryErrors.title }}</small
        >
      </div>

      <div class="form-group">
        <label>Description :</label>
        <textarea class="form-control mb-0" formControlName="description" placeholder="Description text.."></textarea>
        <small
          *ngIf="createNewDirectoryErrors.description"
          class="form-text text-danger"
        >{{ createNewDirectoryErrors.description }}</small
        >
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>State :</label>
            <select2
              (update)="getCity($event)"
              [data]="stateDataForFormSelector"
              [hideSelectedItems]="true"
              formControlName="state"
              placeholder="Select State"
            >
            </select2>
            <small
              *ngIf="createNewDirectoryErrors.state"
              class="form-text text-danger"
            >{{ createNewDirectoryErrors.state }}</small
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>City :</label>
            <select2
              [data]="cityDataForFormSelector"
              [hideSelectedItems]="true"
              formControlName="city"
              placeholder="Select City"
            >
            </select2>
            <small
              *ngIf="createNewDirectoryErrors.city"
              class="form-text text-danger"
            >{{ createNewDirectoryErrors.city }}</small
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Address :</label>
        <input
          class="form-control mb-0"
          formControlName="address"
          placeholder="Enter address"
          type="text"
        />
        <small
          *ngIf="createNewDirectoryErrors.address"
          class="form-text text-danger"
        >{{ createNewDirectoryErrors.address }}</small
        >
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Categories :</label>
            <select2
              [data]="categoryDataForFormSelector"
              [hideSelectedItems]="true"
              [multiple]="true"
              formControlName="category"
              placeholder="Select Categories"
            >
            </select2>
            <small
              *ngIf="createNewDirectoryErrors.category"
              class="form-text text-danger"
            >{{ createNewDirectoryErrors.category }}</small
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Image :</label>
            <image-upload (removed)="removeImage($event)" (uploadFinished)="addImage($event)" [buttonCaption]="'Upload Image'"
                          [extensions]="['jpeg', 'jpg', 'png']" [max]="1"
            ></image-upload>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email :</label>
            <input
              class="form-control mb-0"
              formControlName="email"
              placeholder="Enter valid email"
              type="email"
            />
            <small
              *ngIf="createNewDirectoryErrors.email"
              class="form-text text-danger"
            >{{ createNewDirectoryErrors.email }}</small
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Phone :</label>
            <input
              class="form-control mb-0"
              formControlName="phone"
              placeholder="Enter valid phone number"
              type="text"
            />
            <small
              *ngIf="createNewDirectoryErrors.phone"
              class="form-text text-danger"
            >{{ createNewDirectoryErrors.phone }}</small
            >
          </div>
        </div>
      </div>


      <button [disabled]="loading" class="btn-lg btn-danger btn-block" type="submit">
        <ng-container *ngIf="loading; else submitText">
          <div class="spinner-border" role="status">

          </div>
        </ng-container>
        <ng-template #submitText>Submit</ng-template>
      </button>
      <button class="btn-lg btn-warning btn-block" type="reset">Reset</button>
    </form>
  </div>
</ng-template>


<!--update modal-->
<ng-template #updateModal let-d="dismiss">
  <div class="modal-header p-4">
    <h4 class="modal-title" id="modal-basic-title">New Directory</h4>
    <button
      (click)="d('Cross click')"
      aria-label="Close"
      class="close text-danger"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <form
      (ngSubmit)="submitUpdateForm()"
      [formGroup]="updateForm"
    >
      <div class="form-group">
        <label for="directory_title_new">Title :</label>
        <input
          class="form-control mb-0"
          formControlName="title"
          id="directory_title_new"
          placeholder="Enter name"
          type="text"
        />
        <small
          *ngIf="updateDirectoryErrors.title"
          class="form-text text-danger"
        >{{ updateDirectoryErrors.title }}</small
        >
      </div>

      <div class="form-group">
        <label>Description :</label>
        <textarea class="form-control mb-0" formControlName="description" placeholder="Description text.."></textarea>
        <small
          *ngIf="updateDirectoryErrors.description"
          class="form-text text-danger"
        >{{ updateDirectoryErrors.description }}</small
        >
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>State :</label>
            <select2
              (update)="getCity($event)"
              [data]="stateDataForFormSelector"
              [hideSelectedItems]="true"
              formControlName="state"
              placeholder="Select State"
            >
            </select2>
            <small
              *ngIf="updateDirectoryErrors.state"
              class="form-text text-danger"
            >{{ updateDirectoryErrors.state }}</small
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>City :</label>
            <select2
              [data]="cityDataForFormSelector"
              [hideSelectedItems]="true"
              formControlName="city"
              placeholder="Select City"
            >
            </select2>
            <small
              *ngIf="updateDirectoryErrors.city"
              class="form-text text-danger"
            >{{ updateDirectoryErrors.city }}</small
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Address :</label>
        <input
          class="form-control mb-0"
          formControlName="address"
          placeholder="Enter address"
          type="text"
        />
        <small
          *ngIf="updateDirectoryErrors.address"
          class="form-text text-danger"
        >{{ updateDirectoryErrors.address }}</small
        >
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Categories :</label>
            <select2
              [data]="categoryDataForFormSelector"
              [hideSelectedItems]="true"
              [multiple]="true"
              formControlName="category"
              placeholder="Select Categories"
            >
            </select2>
            <small
              *ngIf="updateDirectoryErrors.category"
              class="form-text text-danger"
            >{{ updateDirectoryErrors.category }}</small
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Image :</label>
            <div *ngIf="existingImageUrl && !uploadedUpdateImage" class="row">
              <div class="col-6">
                <img class="img-fluid" src="{{existingImageUrl}}">
              </div>
            </div>

            <image-upload (removed)="removeUpdateImage($event)" (uploadFinished)="addUpdateImage($event)" [buttonCaption]="'Upload Image'"
                          [extensions]="['jpeg', 'jpg', 'png']" [max]="1"></image-upload>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email :</label>
            <input
              class="form-control mb-0"
              formControlName="email"
              placeholder="Enter valid email"
              type="email"
            />
            <small
              *ngIf="updateDirectoryErrors.email"
              class="form-text text-danger"
            >{{ updateDirectoryErrors.email }}</small
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Phone :</label>
            <input
              class="form-control mb-0"
              formControlName="phone"
              placeholder="Enter valid phone number"
              type="text"
            />
            <small
              *ngIf="updateDirectoryErrors.phone"
              class="form-text text-danger"
            >{{ updateDirectoryErrors.phone }}</small
            >
          </div>
        </div>
      </div>


      <button [disabled]="loading" class="btn-lg btn-danger btn-block" type="submit">
        <ng-container *ngIf="loading; else submitText">
          <div class="spinner-border" role="status">

          </div>
        </ng-container>
        <ng-template #submitText>Submit</ng-template>
      </button>
      <button class="btn-lg btn-warning btn-block" type="reset">Reset</button>
    </form>
  </div>
</ng-template>
<!--update modal end-->


<swal
  #deleteSwal
  (cancel)="cancelDelete()"
  (confirm)="deleteCategory()"
  [showCancelButton]="true"
  icon="question"
  text="This cannot be undone"
  title=""
>
</swal>

<swal
  #deleteSuccess
  icon="success"
  title="Directory deleted!"
>
</swal>


<div class="dashboard_gradient" id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>Directory</h2>
      <nav id="breadcrumbs">
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li>Directory</li>
        </ul>
      </nav>

      <button (click)="open(content)" class="btn btn-lg btn-danger">
        Add New Directory
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <div class="sort-by my_sort_by">
        <div class="utf_sort_by_select_item">
          <select (change)="ChangeItemPerPageSize($event)"
                  class="utf_chosen_select_single"
          >
            <option value="10">10 items per page</option>
            <option value="50">50 items per page</option>
            <option value="100">100 items per page</option>
            <option value="200">200 items per page</option>
          </select>
        </div>
      </div>
      <h4><i class="sl sl-icon-list"></i> Directory List</h4>
      <ul class="border-left">
        <ng-container
          *ngFor="let directory of directories | paginate: { currentPage: currentPageNumber, totalItems: totalVolume, itemsPerPage: itemPerPage}">
          <li>
            <div class="utf_list_box_listing_item">
              <div class="utf_list_box_listing_item-img">
                <a>
                  <img *ngIf="directory.image" src="{{directory.image}}"/>
                  <img *ngIf="!directory.image" src="assets/images/dumylogo.png"/>
                </a>
              </div>
              <div class="utf_list_box_listing_item_content">
                <div class="inner">
                  <h3><a class="text-primary" [routerLink]="['/directory/single', directory.slug]">{{directory.title}}</a></h3>
                  <span>
                    <i class="sl sl-icon-location"></i>
                    {{directory.address}}

                    <span class="ml-3 d-inline-block">
                      <i class="sl sl-icon-phone"></i>
                      {{directory.phone}}
                    </span>
                  </span>
                  <span>
                    <i class="sl sl-icon-map"></i>
                    State: {{directory.state.name}}

                    <span *ngIf="directory.email" class="d-inline-block ml-3">
                      <i class="sl sl-icon-envelope-open"></i>
                      {{directory.email}}
                    </span>
                  </span>
                  <span>
                    <i class="sl sl-icon-map"></i>
                    City: {{directory.city.name}}
                  </span>
                  <span>
                    <i class="sl sl-icon-directions"></i>
                    Categories: <span *ngFor="let category of directory.category"
                                      class="badge badge-pill badge-canceled d-inline text-white font-weight-bold">{{category.name}}</span>
                  </span>


                  <hr>

                </div>
              </div>
            </div>
            <div class="buttons-to-right">
              <a (click)="openCategoryEditModal(updateModal, directory)" class="button gray"><i
                class="fa fa-pencil"></i> Edit</a>
              <a (click)="openDeleteAlert(directory)" class="button gray"><i class="fa fa-trash-o"></i> Delete</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
      <pagination-controls (pageBoundsCorrection)="pageChange( $event)" (pageChange)="pageChange( $event)" class="pagination"
                           nextLabel="" previousLabel="" screenReaderCurrentLabel=".."></pagination-controls>
    </div>

  </div>
</div>
